<section class="bk-blog bk-article">
  <div class="bk-side-space bk-article__nav">
    {% include article/_pseudo-nav.html %}
  </div>
  <div class="bk-article-main">
    <div class="bk-blog-content bk-blog-style uk-article">
      {{content}}
      {% if page.sign %}
        {% include svg/_sign_js.html %}
      {% endif %}
      <div id="social_bottom">
        {% include article/_social-share.html %}
      </div>
      <div class="fixed-social">
        {% include article/_social-share.html %}
      </div>
    </div>
  </div>
  <div class="bk-side-space">
  </div>
</section>
