<section class="bk-blog bk-article">
  <div class="bk-side-space bk-article__nav">
    {% include article/_pseudo-nav.html %}
  </div>
  <div class="bk-article-main">
    <div class="bk-blog-content bk-blog-style uk-article bk-np-style">
      {{content}}
      {% if page.sign %}
        <div class="bk-signature">
          {% include svg/_sign.html %}
        </div>
      {% endif %}
      <div id="social_bottom" class="no-print">
        {% include article/_social-share.html %}
      </div>
      <div class="fixed-social">
        {% include article/_social-share.html %}
      </div>
    </div>
  </div>
  <div class="bk-side-space">
  </div>
</section>
