{% assign social_url =  page.url | prepend: site.url %}
{% if page.sub_title %}
  {% assign social_title = page.sub_title | append: ' - ' | append: page.title | url_encode | url_escape %}
{% else %}
  {% assign social_title = page.title | url_encode | url_escape %}
{% endif %}

{% if page.sub_title %}
  {% assign social_title_plain = page.sub_title | append: ' - ' | append: page.title | escape %}
{% else %}
  {% assign social_title_plain = page.title | escape %}
{% endif %}
<div class="social_share">

  <a  href="https://twitter.com/intent/tweet?text={{ social_title }}&url={{ social_url }}&via={{ site.twitter }}"
      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
      title="Share on Twitter" >
      <i class="fab fa-twitter share-button"></i>
  </a>

  <a  href="https://www.facebook.com/sharer/sharer.php?u={{ social_url }}"
      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
      title="Share on Facebook" >
      <i class="fab fa-facebook-f share-button"></i>
  </a>

  <!-- <a  href="https://plus.google.com/share?url={{ social_url }}"
      onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
      title="Share on Google+" >
      <i class="fab fa-google-plus-g share-button"></i>
  </a> -->

  <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ social_url }}&title={{ social_title }}&summary={{ page.excerpt | prepend: 'via www.bastiankroggel.com: ' | strip_html | strip_newlines | truncatewords: 60, '... [read more]' }}&source=Bastian Kroggel via www.bastiankroggel.com"
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
       title="Share on LinkedIn" >
       <i class="fab fa-linkedin-in share-button"></i>
   </a>

   <a  href="mailto:?subject=[Recommended] {{ social_title_plain }}&amp;body=Check out: {{ social_title_plain }}%0D%0Avia {{ social_url }}%0D%0Aby Bastian Kroggel (@{{site.twitter}})%0D%0A-----"
      title="Share via Email" >
      <i class="fas fa-envelope share-button"></i>
  </a>

  <a  href="https://getpocket.com/save?url={{ social_url }}&title={{ social_title }}"
       onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
       title="Add to Pocket" >
       <i class="fab fa-get-pocket share-button"></i>
   </a>

</div>
