<div class="columns-frame">

  <div class="column_1">
    <div class="c1_info">
      <div class="c1_info__title">
        <p>Intro</p>
      </div>
      <div class="c1_info__content">
        <p>{{site.description}}</p>
      </div>
    </div>
    <div class="c1_info">
      <div class="c1_info__title">
        <p>Email</p>
      </div>
      <div class="c1_info__content">
        <p>{{site.email}}</p>
      </div>
    </div>
  </div>

  <div class="column_2">
    <ul>
      {% for 1_nav in site.data.nav.footer.1_navs %}<li><a href="{{1_nav.link}}">{{1_nav.name}}</a></li>{% endfor %}
    </ul>
  </div>

  <div class="column_3">
    <ul>
      {% for 2_nav in site.data.nav.footer.2_navs %}<li><a href="{{2_nav.link}}">{{2_nav.name}}</a></li>{% endfor %}
    </ul>
  </div>

  <div class="column_4">
    <ul>
      {% for 3_nav in site.data.nav.footer.3_navs %}<li><a href="{{3_nav.link}}">{{3_nav.name}}</a></li>{% endfor %}
    </ul>
  </div>


</div>
