<div class="bk-blog-sidebar">
  <ul class="bk-blog-info bk-blog-info-nav">
    {% for blog-nav in site.data.nav.blog-navs %}<li><a href="{{blog-nav.link}}">{{blog-nav.name}}</a></li>{% endfor %}
  </ul>
  <ul class="bk-blog-info bk-blog-info--mini js-hover">
    <li><a id="back-button" onclick="window.history.back()">&#8592; back to hompage</a></li>
    <!-- modify so that it will redirect to the previous blog site if bastiankroggel.com/blog otherwise to bastiankroggel.com -->
    <li class="copyright"><p>&#169; 2015 - 2017 | Bastian Kroggel</p></li>
  </ul>

  <ul class="bk-blog-info">
    <li><a href="https://twitter.com/{{site.twitter}}" class="twitter-follow-button" data-show-count="false">Follow @{{site.twitter}}</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
  </ul>

  <ul class="bk-blog-info bk-blog-info--mini">
    <li>
      <p class="about">
        {{ site.data.author.[site.admin_user].info }}
      </p>
    </li>
    <li><img src="{{ site.data.author.[site.admin_user].img }}" alt="{{site.admin_user}}"></li>
  </ul>
</div>

<div id="blog-nav-dropdown">
  <div class="blog-nav-inner">
    <span class="fa fa-angle-right"></span><p>Blog Menu</p>
  </div>
</div>
