<section id="screen-nav">
  <div class="screen-nav__frame">
    <ul>
      {% for horizontal-nav in site.data.nav.horizontal-navs %}<li><a href="{{horizontal-nav.link}}">{{horizontal-nav.name}}</a></li>{% endfor %}
    </ul>

    <div class="screen-nav__bottom">
      <ul class="screen-nav__second">
        <!-- <li><a href="/blog/archive">Archive</a></li>
        <li><a href="/blog/archive/tags">Tags</a></li> -->
        {% for 3_nav in site.data.nav.footer.3_navs %}<li><a href="{{3_nav.link}}">{{3_nav.name}}</a></li>{% endfor %}
      </ul>
      <div class="screen-nav__copyright">
        <p>All rights reserved © {{site.cr_date}} Bastian Kroggel</p>
      </div>
    </div>

    <div class="screen-nav__quote">
      <p>Never give up a dream because of the time it will take to accomplish it. The time will pass anyway.</p>
      <div class="screen-nav__quote__author"><p>- Earl Nightingale</p></div>
    </div>
  </div>
  <div class="screen-nav__sign">
    {% include svg/_sign.html %}
  </div>
</section>
