<section class="bk-blog bk-article">
  <div class="bk-side-space bk-article__nav">
    {% include _pseudo-nav_title.html %}
  </div>
  {% if page.title == "About me" %}
  <div class="bk-static-about__frame">
    <div class="bk-blog__intro_img" style="background: url('{{page.header.img.url}}') no-repeat center;
    background-size: cover;">
      <div class="intro_img">
        <p class="intro_sub bk-sub">{{page.header.subtitle}}</p>
        <p class="headline">{{page.header.title}}</p>
      </div>
      <div class="static-intro__bk-name">
        {% include  svg/_icon.html %}
        {% include  svg/_name.html %}
      </div>
      <div class="photographer_info">
        <p class="bk-sub">{{page.header.img.title}}</p>
        <p class="bk-sub">{{page.header.img.photographer}}</p>
      </div>
    </div>
    <div class="bk-static-about__inner">
  {% endif %}


  <div class="bk-article-main">

      {% if page.title == "About me" %}
        <div class="bk-blog-style bk-static-style bk-blog-content" id="about-toc">
          <ul>
            <li class="bk-sub">About</li>
            <li id="intro_link">
              <a href="#bk-about-introduction" uk-scroll="offset: 50">Introduction</a>
              <div class="link_line"></div>
            </li>
            <li> <a href="#about-me" uk-scroll>About me</a> </li>
            <li> <a href="#bk-timeline" uk-scroll>Timeline + CV</a> </li>
            <li> <a href="#news" uk-scroll>News and Thoughts</a> </li>
            <li> <a href="#social" uk-scroll>Social Media + Contact</a> </li>
          </ul>
          <p class="about">
            Etiam congue ultrices sapien, sit amet condimentum lectus. Nulla vel sagittis dolor. Cras non metus volutpat, vestibulum nunc vel, finibus odio. Duis vestibulum faucibus interdum. Nam egestas aliquet metus. Nunc hendrerit euismod elit eu pellentesque. Integer pulvinar felis vitae libero tempus finibus.
          </p>
        </div>
      {% endif %}

      <div class="bk-blog-style bk-blog-content bk-static-style" {% if page.title == "About me" %}id="bk-about-introduction"{% endif %}>
        {% if page.title == "About me" %}
          <div class="bk-blog-style bk-static-style bk_about_quote">
            <div class="bk_about_quote_inner">
              <p class="bk_quote__main">{{ page.quote.text }}</p>
              <div class="bk_quote__author">
                <p>{{ page.quote.author }}</p>
              </div>
            </div>
          </div>
          <div class="pulsating-circle">
            <div class="pulsating__point"></div>
            <div class="pulsating__dot_frame">
              <div class="pulsating__dot"></div>
            </div>
            <div class="pulsating__line"></div>
          </div>
        {% endif %}
        {{ content }}
        {% if page.sign %}
          {% include svg/_sign_js.html %}
        {% endif %}
      </div>

  </div>
  <div class="bk-side-space">
  </div>
  {% if page.title == "About me" %}
    </div>
  </div>
  {% endif %}
</section>
