<script type="text/javascript" src="{{ "/assets/js/jquery.waypoints.min.js" | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{ "/assets/js/sticky.min.js" | prepend: site.baseurl}}"></script>

{% if page.layout == 'post' or page.layout == 'static' %}
  <script type="text/javascript" src="{{ "/assets/js/showdown.min.js" | prepend: site.baseurl}}"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
  <script src="{{ "/assets/js/zooming.min.js" | prepend: site.baseurl}}"></script>
  <script src="{{ "/assets/js/imagesloaded.pkgd.min.js" | prepend: site.baseurl}}"></script>
  <script type="text/javascript">
    // add caption to Images

    // check whether there are more than 2 pics (so three an up) in a row
    $('.bk-blog-style p').each(function(){
      if ($(this).find('img').length > 2) {
        $(this).addClass('bk-gallery');
      }
    })

    //var startTime = window.performance.now();
    //console.log(window.performance.now() - startTime);

    // extract title and put in array

    // function gallery_title_array(){
    //   var split_divider = '\\';
    //   var converter = new showdown.Converter();
    //   var gta = new Array();
    //   $('.bk-gallery img').each(function(){
    //     if ($(this).attr('alt')) {
    //       var info = $(this).attr('alt').split(split_divider);
    //       var image_title = converter.makeHtml(info[0]);
    //       var image_source = converter.makeHtml(info[1]);
    //       if (info[1]) {
    //         var img_info = '<div class="image_caption"><div class="image_title">'+image_title+'</div><div class="image_source">'+image_source+'</div></div>'
    //       } else {
    //         var img_info = '<div class="image_caption"><div class="image_title">'+image_title+'</div></div>';
    //       }
    //     } else {
    //       var img_info = '';
    //     }
    //     gta.push(img_info);
    //   })
    //   return gta
    // }
    //gallery_title_array();


    $('.bk-gallery').each(function(index){
      var wh = $(window).innerHeight();
      var container = '<div class="bk-gallery__container bk-gallery-no_'+index+'" />';
      var elem_wrap = '<div class="bk-gallery__elem" />';
      var spinner = '<div class="spinningCircle"></div>';
      $(this).wrapInner(container);
      $('.bk-gallery-no_'+index).children().wrap(elem_wrap);

      // detect image titles
      var converter = new showdown.Converter();
      var gta = new Array();
      var gallery_index = index
      $(this).find('img').each(function(){
        var image_title = converter.makeHtml($(this).attr('data-title'));
        var image_subtitle = converter.makeHtml($(this).attr('data-subtitle'));
        var image_alt = converter.makeHtml($(this).attr('alt'));
        if (image_subtitle) {
          if (image_title) {
            var img_info = '<div class="image_caption"><div class="image_title">'+image_title+'</div><div class="image_source">'+image_subtitle+'</div></div>'
          } else {
            var img_info = '<div class="image_caption"><div class="image_title">'+ image_alt +'</div><div class="image_source">'+image_subtitle+'</div></div>'
          }
        } else if (image_title) {
          var img_info = '<div class="image_caption"><div class="image_title">'+image_title+'</div></div>';
        } else if (image_alt) {
          var img_info = '<div class="image_caption"><div class="image_title">'+image_alt+'</div></div>';
        } else {
          var img_info = '';
        }
        gta.push(img_info);
      })
      // end detect image titles

      $('.bk-gallery-no_'+index).on('beforeChange', function(event, slick, currentSlide, nextSlide){
        $('.bk-gallery-no_'+index).parent().find('.image_caption').remove();
        $('.bk-gallery-no_'+index).parent().append(gta[nextSlide]);
      })

      $('.bk-gallery-no_'+index).on('init', function(){
        $(this).find('.slick-list').css({
          'height': '0px',
          //'max-height': wh/4*3,
          'overflow': 'hidden'
        })
        $('.slick-track').css('opacity', '0')
        $('.bk-gallery-no_'+index).prepend(spinner)

        //images loaded
        // $(this).imagesLoaded( function() {
        //   console.log('All images in Gallery '+gallery_index+' have been loaded! - bk')
        // });


        //$('.bk-gallery-no_'+index).find('img').on('load', function() {
        //$(window).on('load', function() {
        $(this).imagesLoaded( function() {
          var height_arr = []
          $('.bk-gallery-no_'+index+' .bk-gallery__elem img').each(function(){
            var individual_height = $(this).outerHeight();
            height_arr.push(individual_height)
          })
          var gallery_height = Math.max.apply(Math,height_arr);
          //var gallery_height = $('.bk-gallery-no_'+index+' .slick-current').find('img').outerHeight();
          var max_height = wh/5*3;
          var min_height = wh/5*2;
          if (gallery_height < max_height && gallery_height > min_height && min_height > 200){
            var initial_height = gallery_height
          } else if (gallery_height < min_height && min_height > 200) {
            var initial_height = min_height
          } else if (min_height > 200) {
            var initial_height = max_height
          } else {
            var initial_height = 250
          }
          $('.bk-gallery-no_'+index+' .slick-list, .bk-gallery-no_'+index+' .bk-gallery__elem').css({
            'height': initial_height,
            'transition': 'all 0.4s ease-in-out'
          })



          setTimeout(function(){
            $('.bk-gallery-no_'+index+' .spinningCircle').css({
              'opacity': '0',
              'transition': 'all 0.4s ease-in-out'
            })
            setTimeout(function(){
              $('.bk-gallery-no_'+index+' .spinningCircle').css('display', 'none')
            }, 400)
            setTimeout(function(){
              $('.bk-gallery-no_'+index+' .slick-track').css({
                'opacity': '1',
                'transition': 'all 0.4s ease-in-out'
              })
              $('.bk-gallery-no_'+index+' .slick-arrow, .bk-gallery-no_'+index+' .slick-dots').addClass('active')
              $('.bk-gallery-no_'+index).parents('p').addClass('active')
              $('.bk-gallery-no_'+index).parent().append(gta[0]);
              Waypoint.refreshAll() //Waypoint refresh after all elements are loaded
            }, 400)
          }, 1000)

          $('.bk-gallery-no_'+index+' .bk-gallery__elem').each(function(){
            var bg_image = $(this).find('img').attr('src');
            var effect_div = '<div class="bk-gallery__effect" />';
            $(this).prepend(effect_div).find('.bk-gallery__effect').css({
              'background': 'url('+bg_image+') no-repeat center',
              'background-size': 'cover'
            })
          })

        })

      }).slick({
        slidesToShow: 1,
        slidesToScrol: 1,
        dots: true,
        cssEase:"ease-in-out",
        prevArrow: '<div type="button" class="bk-gallery__prev bk-gallery__controlls"></div>',
        nextArrow: '<div type="button" class="bk-gallery__next bk-gallery__controlls"></div>',
        draggable: false
      });
    })

    function add_caption (){
      var caption_wrapper = '<div class="image_frame" />';
      var no_classes = ['no_caption']; // more than one "no_classes" currently not supported (26. August 2017)
      var converter = new showdown.Converter(); //{ extensions: ['twitter'] }

      $('.bk-blog-style img').each(function() {
        if (!($(this).parent().hasClass(no_classes)) && !($(this).parent().hasClass('two')) && !($(this).parents('p').hasClass('bk-gallery'))) {
          $(this).wrap(caption_wrapper);
          var image_title = converter.makeHtml($(this).attr('data-title'));
          var image_subtitle = converter.makeHtml($(this).attr('data-subtitle'));
          var image_alt = converter.makeHtml($(this).attr('alt'));
          if (image_subtitle) {
            if (image_title){
              $(this).parent().append('<div class="image_caption"><div class="image_title">'+image_title+'</div><div class="image_source">'+image_subtitle+'</div></div>');
            } else {
              $(this).parent().append('<div class="image_caption"><div class="image_title">'+ image_alt +'</div><div class="image_source">'+image_subtitle+'</div></div>');
            }
          } else if (image_title){
            $(this).parent().append('<div class="image_caption"><div class="image_title">'+image_title+'</div></div>');
          } else if (image_alt) {
            $(this).parent().append('<div class="image_caption"><div class="image_title">'+image_alt+'</div></div>');
          }
        } else if ( !($(this).parents('p').hasClass('bk-gallery')) && !($(this).parent().hasClass('two')) ){
          $(this).parents('p').addClass('bk_img');
        }
      });
    };
    add_caption();

    function two_images (){
      var caption_wrapper = '<div class="image_frame" />';
      var converter = new showdown.Converter(); //{ extensions: ['twitter'] }

      $('.bk-blog-style p.two').each(function() {
        $(this).wrapInner(caption_wrapper);
        $(this).find('.image_frame').wrapInner('<div class="inner_frame" />');
        var image_title = converter.makeHtml($(this).attr('data-title'));
        var image_subtitle = converter.makeHtml($(this).attr('data-subtitle'));
        if (image_subtitle) {
          if (image_title){
            $(this).children().append('<div class="image_caption"><div class="image_title">'+image_title+'</div><div class="image_source">'+image_subtitle+'</div></div>');
          } else {
            $(this).children().append('<div class="image_caption"><div class="image_title">'+ image_alt +'</div><div class="image_source">'+image_subtitle+'</div></div>');
          }
        } else if (image_title){
          $(this).children().append('<div class="image_caption"><div class="image_title">'+image_title+'</div></div>');
        }
      })
    }
    two_images()

    // make images zoomable
    var zooming = new Zooming({
      defaultZoomable: '.bk-blog-content p:not(.bk-gallery) img', // every image which is NOT in gallery
      bgColor: 'black',
      bgOpacity: '0.7'
    })

    // social share buttons

    function small_screen_share(){
      var share_frame_height = $('#social_bottom .social_share').outerHeight();
      $('#social_bottom').css('height', share_frame_height);
      $('#social_bottom').addClass('small_share')
      if ($('#social_bottom').length > 0) {
        $('.bk-blog-content').css('margin-bottom', 0)
      }

      var stuck_frame = $('#social_bottom');
      var stuck_el = $('#social_bottom .social_share');

      $('.bk-article-title').waypoint(function(direction) {
        if (direction === 'down') {
          stuck_el.addClass('in_view');
        } else {
          stuck_el.removeClass('in_view');
         }
      }, {
        offset: $(window).innerHeight() - $('.bk-article-title').outerHeight() - $('#social_bottom .social_share').outerHeight()
      })

      stuck_frame.waypoint(function(direction) {
        if (direction === 'down') {
          stuck_el.addClass('stuck');
        } else {
          stuck_el.removeClass('stuck');
         }
      }, {
        offset: 'bottom-in-view'
      })
    } // end function small_screen_share

    function big_screen_share(){
      $('#social_bottom').addClass('big_share')
      var social_menu = $('.fixed-social .social_share').one();
      var trigger_one = $('.vertical-blog-link');

      trigger_one.waypoint(function(direction) {
        if (direction === 'down') {
          social_menu.addClass('social_show')
        } else {
          social_menu.removeClass('social_show')
         }
       }, {
         offset: - $('.vertical-blog-link').outerWidth()
      })

      $('#social_bottom').waypoint(function(direction) {
        if (direction === 'down') {
          social_menu.removeClass('social_show')
        } else {
          social_menu.addClass('social_show')
         }
       }, {
         offset: $(window).innerHeight() - $('#social_bottom').innerHeight()
      })

    } // end function big_screen_share


    if($(window).width() < 991) {
      small_screen_share();
    } else {
      $(window).on('load', function() {
        big_screen_share();
      }); //end window on 'load'
    }

    $( window ).resize( function(){
      if($(window).width() < 991 && $('#social_bottom').hasClass('big_share')) {
        Waypoint.destroyAll();
        var social_menu = $('.fixed-social .social_share').one();
        social_menu.removeClass('social_show');
        $('#social_bottom').removeClass('big_share');
        small_screen_share();
        setTimeout(function(){
          Waypoint.refreshAll()
        }, 1000);
      } else if ($(window).width() > 991 && $('#social_bottom').hasClass('small_share')) {
        $('#social_bottom').css('height', '');
        $('.bk-blog-content').css('margin-bottom', '')
        Waypoint.destroyAll()
        $('#social_bottom .social_share').removeClass('in_view').removeClass('stuck');
        $('#social_bottom').removeClass('small_share')
        big_screen_share();
      }
    })

    // Sidenotes
    $('.bk-blog-content span.sidenote').click(function() {
      if($(window).width() < 991) {
        $(this).toggleClass('active')
      } else if ($(this).hasClass('inline')) {
        $(this).toggleClass('active')
      }
    })


    // additional information in post in_view
    function additional_post_information(){
      var ext_name = 'info'
      $('.bk-blog-content p[' + ext_name + ']').each(function() {

        var title = $(this).attr( ext_name )
        var sub = $(this).attr( ext_name + '_sub' )
        var title_prev = $(this).prev('.info_block').children('p').attr( ext_name )
        var sub_prev = $(this).prev('.info_block').children('p').attr( ext_name + '_sub' )
        if ( $(this).prev().hasClass('info_block') ) {
          if (title != '' && title == title_prev && sub == sub_prev  || title != '' && title == title_prev && sub == ''  || title == '' && title_prev != '' ) {
            $(this).prev('.info_block').append( $(this) )
          } else {
            if (title == '') {
              create_block( $(this), 'no_title' )
            } else {
              create_block( $(this) )
            }
          }
        } else {
          if (title == '') {
            create_block( $(this), 'no_title' )
          } else {
            create_block( $(this) )
          }
        }
        function create_block( el, titel_var ){
          var info_bar = '<div class="info_bar">'
              + (title ? '<div class="info_bar__el info_bar__title"><p>' + title + '</p></div>' : '')
              + (titel_var == 'no_title' ? '<div class="info_bar__el info_bar__title"><p>Information</p></div>' : '')
              + (sub ? '<div class="info_bar__el info_bar__sub"><p>' + sub + '</p></div>' : '')
            + '</div>'
          if ( el.prev().is( ':header' ) ) {
            el.prev().remove()
          }
          el.wrap( '<div class="info_block">' ).parent().prepend( info_bar )
        }

      })
    }

    additional_post_information()

    function lock_images() {
      var lock_height = ($(window).innerHeight() * 0.8);
      $('.bk-blog-content img').each(function() {
        if ($(this).is('.lock')) {
          $(this).css('max-height', lock_height)
          $(this).parent('.image_frame').wrap('<div class="block_element">')
          $(this).siblings('.image_caption').appendTo($(this).parents('.block_element'))
          $(this).parents('.block_element').append('<span class="clear-float"></span>')
        }
      })
    }
    lock_images()

    function more_to_show() {
      overflow_svg = '<svg viewBox="0 0 84 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">'
        +  '<defs></defs>'
        +  '<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">'
            +  '<g id="arrow_el" transform="translate(0.000000, 2.000000)" stroke-width="4" stroke="#000000">'
                +  '<polyline id="Path" points="55 0 80 18 55 36"></polyline>'
                +  '<path d="M0,18 L80,18" id="Path-2"></path>'
            +  '</g>'
        +  '</g>'
      + '</svg>'
      overflow_element = '<div class="overflow_element"><p>scroll</p>' + overflow_svg + '</div>'
      $('.bk-blog-content pre').each(function() {
        if ( $(this).width() < $(this).children('code').innerWidth() && !( $(this).parent('div').hasClass('overflow') ) ) {
          $(this).parent('div').addClass('overflow').prepend(overflow_element).append(overflow_element)
        } else if ( $(this).width() > $(this).children('code').innerWidth() && $(this).parent('div').hasClass('overflow') ) {
          $(this).parent('div').removeClass('overflow').find('.overflow_element').remove();
        }
      })
    }
    more_to_show()
    $( window ).resize(function() {
      more_to_show()
    })

  </script>
{% endif %}

{% if page.layout == 'post' or page.layout == 'home' %}
  <script type="text/javascript" src="{{ "/assets/js/jquery.timeago.js" | prepend: site.baseurl}}"></script>
{% endif %}

{% if page.layout == 'tags' %}
  <script type="text/javascript">
    //tag_alphabet
    function tag_alphabet(){
      var alphabet = $('.tags__alphabet ul li');
      var marker = $('.tags__element h3')
      marker.each(function(){
        var letter = $(this).text();
        if($(window).width() < 767) {
          //removed href so scroll_alphabet will work
          $('.tags__alphabet ul li:contains("'+letter+'")').wrapInner( '<a></a>');
        }else{
          $('.tags__alphabet ul li:contains("'+letter+'")').wrapInner( '<a href="#'+letter+'"></a>');
        }

      })
    }
    tag_alphabet();

    if($(window).width() < 767) {
      function scroll_alphabet(){
        var alph_bttn = $('.tags__alphabet ul li a');
        var root = $('html, body');
        alph_bttn.click(function() {
          var letter = $(this).text();
          root.scrollTop($('#'+letter).offset().top - 160);
        })
      }
      scroll_alphabet();
    }
  </script>
{% endif %}

{% if page.layout == 'home' or page.layout == 'archive' or page.layout == 'by_tag' or page.layout == 'tags' or page.title == 'About me' %}
  <script type="text/javascript" src="{{ "/assets/js/twitterFetcher.js" | prepend: site.baseurl}}"></script>
{% endif %}

{% if page.layout == 'home' or page.layout == 'archive' or page.layout == 'by_tag' or page.layout == 'tags' %}
  <script type="text/javascript">

    function set_waypoint(){
      var sticky = new Waypoint.Sticky({
        element: $('.js-stuck-nav')[0]
      })

      var navHeight = $('.bk-blog-nav').outerHeight(true) - 10; // hight of navbar - the negative offset (also check css)
      var bk_wrapper = '<div class="bk-blog__navigation-wrapper" />'
      var secondHeight = $('#blog-nav-dropdown').height();

      $('.bk-blog__navigation').wrap(bk_wrapper);
      $('.bk-blog__navigation-wrapper').height(secondHeight);

      $('.bk-blog__navigation-wrapper').waypoint({
        handler: function(direction) {
          if (direction === 'down') {
            $('.bk-blog__navigation').addClass('stuck');
          } else {
            $('.bk-blog__navigation').removeClass('stuck');
          }
        },
        offset: navHeight
      });
    }

    if($(window).width() < 991) {
      // if window width is less than 991 the set_waypoint function gets triggert and therefore the wrapper gets calculated as well as set
      set_waypoint();
    }

    $( window ).resize(function() {
      if (($(window).width() < 991) && !($('.bk-blog__navigation').parent().hasClass('bk-blog__navigation-wrapper'))) {
        // if window width is less than 991 and the navigation bar parent element doesn't has the specified class (and therefore wasn't already triggered) the waypoints get set
        set_waypoint();
      } else if (($(window).width() > 991) && ($('.bk-blog__navigation').parent().hasClass('bk-blog__navigation-wrapper'))) {
        // if window with is bigger than 767 and the navigation bar has the specified class (and therefore was already triggered) the waypoints get removed, the wrapper destroyed and the potentially applied stuck classes removed
        $('.bk-blog__navigation').unwrap();
        $('.bk-blog-nav').removeClass('stuck');
        $('.bk-blog__navigation').removeClass('stuck');
        $('.js-stuck-nav').unwrap();
        Waypoint.destroyAll();
      }
      // else if ( ($(window).width() < 991) ) {
      //   $('.bk-blog__navigation').unwrap();
      //   set_waypoint();
      //   console.log('did it, sir')
      // }
    })

    function collapse_sidebar(){
      $('.bk-blog-sidebar, #blog-nav-dropdown').removeClass('active');
      $(document.body).css('overflow', 'auto');
      $('.bk-blog-sidebar').css('height', 0);
    }

    function call_sidebar(){
      var navbar_height = $('.bk-blog-nav').outerHeight(true);
      var trigger_height = $('#blog-nav-dropdown').height();

      {% if page.layout == 'home' %}
        var news_height = $('#news').outerHeight(true);
      {% else %}
        var news_height = 0;
      {% endif %}
      var storewindow_height = $('#storewindow').height();
      if (storewindow_height) {
        var news_height = news_height + storewindow_height
      }
      var margin_in_viewport = $('.bk-blog-nav--frame').outerHeight(true) + news_height - $(document).scrollTop();


      if ($(document).scrollTop() < $('.bk-blog-nav--frame').outerHeight(true) + news_height) {
        var screen_beauty = window.innerHeight / 20;
        //var sidebar_height = window.innerHeight - margin_in_viewport - navbar_height - trigger_height - screen_beauty;
        var sidebar_height = window.innerHeight - margin_in_viewport - trigger_height - screen_beauty;
      } else {
        var screen_beauty = window.innerHeight / 30;
        var sidebar_height = window.innerHeight - navbar_height - trigger_height - screen_beauty;
      }

      $('.bk-blog-sidebar').css('height', sidebar_height);
      $('.bk-blog-sidebar, #blog-nav-dropdown').addClass('active');
      $(document.body).css('overflow', 'hidden');
      $('.bk-blog-sidebar').scrollTop(0);
    }

    // blog-dropdown
    $('#blog-nav-dropdown').click(function() {
      if($(window).width() < 991) {
        if ($('.bk-blog-sidebar').hasClass('active')) {
          collapse_sidebar();
        } else {
          call_sidebar();
        }
      }
    });

    $(window).resize(function(){
      if (($(window).width() > 991) && ($('.bk-blog-sidebar').hasClass('active'))) {
        collapse_sidebar();
        $('.bk-blog-sidebar').css('height', '');
      } else if ($(window).width() > 991) {
        $('.bk-blog-sidebar').css('height', '');
      }
    })
  </script>
{% endif %}

{% if page.title == 'About me' %}
  <script type="text/javascript">
    function about_intro_line(){
      var intro_link = $('#intro_link')
      var anchor = $('#anchor')

      var intro_link_left = intro_link.offset().left
      var intro_link_right = ((intro_link.offset().left + intro_link.outerWidth()));
      var anchor_left = anchor.offset().left + (anchor.outerWidth(true) / 2)

      $('#intro_link .link_line').css({
        'width': (anchor_left - intro_link_right),
        'transition': 'width ease-in-out .6s'
      });

      var intro_link_top = intro_link.offset().top
      var intro_link_height = intro_link.outerHeight(false) / 2
      var anchor_top = anchor.offset().top
      var anchor_height = anchor.outerHeight(true) / 2
      var line_top = -(anchor_top - intro_link_top - intro_link_height)
      var line_height = anchor_top - intro_link_top - intro_link_height + anchor_height
      $('.anchor__line').css({
        'height': line_height,
        'top': line_top,
        'transition': 'height ease-in-out 1.6s .6s'
      });
      $('#anchor .anchor__el').css({
        'opacity': 1,
        'transition': 'opacity ease-in-out .2s 2.2s'
      })
      $('#anchor').addClass('active');
    }

    // $(window).on('load', function() {
    //   if ( $(window).width() > 991) {
    //     setTimeout(
    //       function(){
    //         about_intro_line();
    //       }
    //     , 1000)
    //   }
    // })

    $('#intro_link').first().waypoint(function(direction) {
      if (direction === 'down') {
        about_intro_line();
        this.destroy()
       }
    }, {
      offset: '50%'
    })

    // if( $(window).width() > 991 && !$('.pulsating-circle').hasClass('active') ){

    $( window ).resize(function() {
      if( $(window).width() > 991 ){
        about_intro_line();
      } else if ( $(window).width() < 991 && $('#anchor').hasClass('active') ){
        $('.anchor__line').css({
          'height': '0px',
          'top': 'unset'
        });
        $('#intro_link .link_line').css({
          'width': '0px'
        });
        $('#anchor .anchor__el').css({
          'opacity': 0
        })
        $('#anchor').removeClass('active')
      }
    })


    function expansion_button() {
      if ( $(window).innerWidth() < 1199 && $('#ggl-analytics').hasClass('ggl-active') ) {
        var analytics_height = $('#ggl-analytics').innerHeight() + 10
      } else {
        var analytics_height = 10
      }
      $('#expansion_button').css('bottom', analytics_height)
      var expansion_hide = analytics_height + $('#expansion_button').innerHeight()
      $('#expansion_button').css('transform', 'translate(-50%,' + expansion_hide + 'px)')
    }
    expansion_button();

    function timeline_container() {

      var deactivated = $(window).height() * 0.85;
      var activated = $('#bk-timeline .timeline__inner').outerHeight(true);

      $('#bk-timeline').css('height', deactivated);

      var expansion_top = new Waypoint({
        element: document.getElementById('bk-timeline'),
        handler: function(direction) {
          if (direction === 'down') {
            $('#expansion_button').addClass('activated')
            expansion_button()
          } else {
            $('#expansion_button').removeClass('activated')
          }
        },
        offset: $(window).innerHeight()
      })

      var expansion_bottom = new Waypoint({
        element: document.getElementById('bk-timeline'),
        handler: function(direction) {
          if (direction === 'down') {
            $('#expansion_button').removeClass('activated')
          } else {
            $('#expansion_button').addClass('activated')
            expansion_button()
          }
        },
        offset: -$('#bk-timeline').innerHeight()
      })


      $('#timline__expansion_bar, #expansion_button').click(function() {
        $('#bk-timeline, #bk-timeline .timline__expansion_bar').toggleClass('active');
        if ($('#bk-timeline').hasClass('active')) {
          $('#bk-timeline').css('height', activated);
          $('html, body').animate({
              scrollTop: $('#bk-timeline').offset().top
          }, 600);
          setTimeout(function(){
            $('#bk-timeline .timline__expansion_bar').addClass('remove')
          }, 500)
          $('#expansion_button').removeClass('activated')
          expansion_top.disable()
          expansion_bottom.disable()

          $('#bk-timeline h3.bk-tl-title').each( function() {
            var that = this;
            $(this).waypoint( function( direction ){
              if ( direction == 'down' ) {
                $(that).addClass('active')
              }
            }, {
              offset: 'bottom-in-view'
            })
          })

        } else {
          $('#bk-timeline').css('height', deactivated);
          $('#bk-timeline .timline__expansion_bar').removeClass('remove')
          $('html, body').animate({
              scrollTop: $('#bk-timeline').offset().top
          }, 600);
          expansion_top.enable()
          expansion_bottom.enable()
        }
        setTimeout(function(){
          Waypoint.refreshAll();
        }, 1200)
      })
    }
    timeline_container()

    // function timeline_active () {
    //   var height = '100%'
    //   var num_of_items = $('#bk-timeline h3.bk-tl-title').length
    //   $('#bk-timeline .side_line').css({
    //     'height': height,
    //     'transition': 'height '+ num_of_items * 1 +'s linear'
    //   })
    // }



    // $('#bk-timeline .bk-tl_element').first().waypoint(function(direction) {
    //   if (direction === 'down') {
    //     if ($(window).width() > 767) {
    //       $('#bk-timeline').addClass('big')
    //     } else {
    //       $('#bk-timeline').addClass('small')
    //     }
    //     timeline_active()
    //     this.destroy()
    //    }
    // }, {
    //   offset: 'bottom-in-view'
    // })

    // $(window).resize(function(){
    //   if ($(window).width() > 767 && $('#bk-timeline').hasClass('small')) {
    //     $('#bk-timeline .luzid_line, #bk-timeline .clock-icon .clock_line').css({
    //       'height': 0,
    //       'transition': 'none'
    //     })
    //     $('#bk-timeline').removeClass('small')
    //     $('#bk-timeline').addClass('big')
    //     timeline_line()
    //   } else if ( $(window).width() < 767 && $('#bk-timeline').hasClass('big') ) {
    //     $('#bk-timeline .luzid_line, #bk-timeline .clock-icon .clock_line').css({
    //       'height': 0,
    //       'transition': 'none'
    //     })
    //     $('#bk-timeline').removeClass('big')
    //     $('#bk-timeline').addClass('small')
    //     timeline_line()
    //   }
    // })

    function intro_image() {
      var image_div = $('.bk-blog__intro_img')
      var height = $(window).height() - $('.bk-blog-nav--frame').outerHeight();
      if ($(window).width() > 991) {
        var vertical_blog_link = $('.vertical-transform-frame').outerWidth() + $('.vertical-transform-frame').position().top + 40
        if (vertical_blog_link > height) {
          var height = vertical_blog_link
        }
      }
      image_div.css('min-height', height)
    }
    intro_image();

    function social_bubble( indicator ) {
      const obj = $('#social .bk-social__el#' + indicator)
      const pos_left = $('#social .bk-social__el#' + indicator).position().left;
      const el_width = $('#social .bk-social__el#' + indicator).outerWidth(true);
      const height = $('.bk-social__bubble .bubble__' +indicator).outerHeight(true);
      $('#social .bk-social__frame .bubble__indicator').css('left', pos_left + el_width/2);
      if (!social_bubble.first) {
        $('.bk-social__bubble .bubble__inner.bubble__' + indicator).addClass('active');
        $('.bk-social__bubble').css('height', height);
        social_bubble.first = true;
      } else {
        $('.bk-social__bubble .bubble__inner').removeClass('active');
        $('.bk-social__bubble').css('height', height);
        setTimeout( function(){
          $('.bk-social__bubble .bubble__inner.bubble__' + indicator).addClass('active');
        }, 700)
      }
      setTimeout(function(){
        Waypoint.refreshAll()
      }, 1000)
    }

    // execute after fontawesome is loaded
    $(window).bind("load", function() {
      var expansion_top = new Waypoint({
        element: document.getElementById('bubble_trigger'),
        handler: function(direction) {
          if (direction === 'down') {
            social_bubble('email');
            $('#social .bk-social__frame .bubble__indicator').css('transform', 'translate(-50%, 50%) rotate(45deg) scale(1)')
            this.destroy()
          }
        },
        offset: $(window).innerHeight() - ($(window).innerHeight()/5)
      })
    });

    $('#social .bk-social__el').each( function() {
      $(this).click( function () {
        const active_id = $('.bk-social__bubble .bubble__inner.active').attr('data-bubble');
        const id = $(this).attr('id');
        if ( !(id == active_id) ) {
          social_bubble(id);
        }
      })
    });

    var resizeBubble;
    $(window).on('resize', function(e) {
      clearTimeout(resizeBubble);
      resizeBubble = setTimeout(function() {
        social_bubble('email');
      }, 250);
    });




  </script>
{% endif %}

{% if page.layout == 'home' %}
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
  <script type="text/javascript">
    //storewindow
    function get_slide_content(current_el){
      var content = $('#storewindow__img .el_' + current_el);
      var content_subtitle = content.attr('data-subtitle');
      var content_title = content.attr('data-title');
      var content_excerpt = content.attr('data-excerpt');
      var content_url = content.attr('data-url');
      var html = '<div class="storewindow__text_content overview-posts">'
        + '<a class="blog-posts--title" href="' + content_url + '">'
          + (content_subtitle ? '<h3>' + content_subtitle + '</h3>' : '')
          + '<h1 class="posts-title">' + content_title + '</h1>'
        + '</a>'
        + '<div class="blog-posts--overview-content">' + content_excerpt + '</div>'
        + '<a class="link" href="' + content_url + '">Read more</a>'
      + '</div>'
      if ($('.storewindow__text_content')) {
        $('.storewindow__text_content').remove()
        $('.storewindow__text_frame').append(html)
      } else {
        $('.storewindow__text_frame').append(html)
      }
    }

    $('#storewindow__img').on('beforeChange', function(event, slick, currentSlide, nextSlide){
      var current_el = nextSlide + 1
      get_slide_content(current_el);
    })

    $('#storewindow__img').on('init', function(){
      var current_el = 1
      get_slide_content(current_el);
    }).slick({
      slidesToShow: 1,
      slidesToScrol: 1,
      dots: true,
      cssEase:"ease-in-out",
      prevArrow: $('#storewindow #next'),
      nextArrow: $('#storewindow #prev'),
      draggable: false,
      autoplay: true,
      //fade: true
      cssEase:"cubic-bezier(0.19, 1, 0.22, 1)",
      speed: 1200
    });

  </script>
{% endif %}

{% if page.layout == 'home' or page.title == 'About me'  %}
  <script type="text/javascript" src="{{ "/assets/js/ScrollTrigger.min.js" | prepend: site.baseurl}}"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
      var trigger = new ScrollTrigger({

      });
    });
  </script>
{% endif %}

<script type="text/javascript">
//back button
  function back_button(id){
    var marker = $(id);
    var url = "{{ site.url }}";
    var redirect = "{{ site.url }}";
    if (document.referrer.indexOf(url) >= 0) {
      marker.attr('onclick', 'window.history.back()');
    } else {
      marker.attr('href', redirect);
    }
  }
  back_button('#back-button, #announcement_link');
</script>

<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl}}"></script>
