@font-face {
  font-family:'Charter';
  font-style:normal;
  font-weight:400;
  src:local('Charter'),url(//brick.a.ssl.fastly.net/fonts/charter/400.woff) format('woff');
}

@font-face {
  font-family:'Charter';
  font-style:normal;
  font-weight:700;
  src:local('Charter Bold'),url(//brick.a.ssl.fastly.net/fonts/charter/700.woff) format('woff');
}

@font-face {
  font-family:'Charter';
  font-style:italic;
  font-weight:400;
  src:local('Charter Italic'),url(//brick.a.ssl.fastly.net/fonts/charter/400i.woff) format('woff');
}

@font-face {
  font-family:'Charter';font-style:italic;font-weight:700;src:local('Charter Bold Italic'),url(//brick.a.ssl.fastly.net/fonts/charter/700i.woff) format('woff')}

@font-face {
  font-family:'Karla';
  font-style:normal;
  font-weight:400;
  src:local('Karla Regular'),url(//brick.a.ssl.fastly.net/fonts/karla/400.woff) format('woff');
}

@font-face {
  font-family:'Karla';
  font-style:normal;
  font-weight:700;
  src:local('Karla Bold'),url(//brick.a.ssl.fastly.net/fonts/karla/700.woff) format('woff');
}

@font-face {
  font-family:'Source Sans Pro';
  font-style:normal;
  font-weight:300;
  src:local('Source Sans Pro Light'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/300.woff) format('woff');
}

@font-face {
  font-family:'Source Sans Pro';
  font-style:normal;
  font-weight:400;
  src:local('Source Sans Pro Regular'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/400.woff) format('woff');
}

@font-face {
  font-family:'Source Sans Pro';
  font-style:normal;
  font-weight:700;
  src:local('Source Sans Pro Bold'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/700.woff) format('woff');
}

@font-face {
  font-family:'Source Sans Pro';
  font-style:italic;
  font-weight:300;
  src:local('Source Sans Pro Light Italic'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/300i.woff) format('woff');
}

@font-face {
  font-family:'Source Sans Pro';
  font-style:italic;
  font-weight:400;
  src:local('Source Sans Pro Italic'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/400i.woff) format('woff');
}

@font-face {
  font-family:'Source Sans Pro';
  font-style:italic;
  font-weight:700;
  src:local('Source Sans Pro Bold Italic'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/700i.woff) format('woff');
}

@font-face {
  font-family:'Open Sans';
  font-style:normal;
  font-weight:300;
  src:local('Open Sans Light'),url(//brick.a.ssl.fastly.net/fonts/opensans/300.woff) format('woff');
}

@font-face {
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  src:local('Open Sans Regular'),url(//brick.a.ssl.fastly.net/fonts/opensans/400.woff) format('woff');
}

@font-face {
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  src:local('Open Sans Regular'),url(//brick.a.ssl.fastly.net/fonts/opensans/600.woff) format('woff');
}

@font-face {
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  src:local('Open Sans Bold'),url(//brick.a.ssl.fastly.net/fonts/opensans/700.woff) format('woff');
}

@font-face {
  font-family:'Open Sans';
  font-style:italic;
  font-weight:300;
  src:local('Open Sans Light Italic'),url(//brick.a.ssl.fastly.net/fonts/opensans/300i.woff) format('woff');
}

@font-face {
  font-family:'Open Sans';
  font-style:italic;
  font-weight:400;
  src:local('Open Sans Italic'),url(//brick.a.ssl.fastly.net/fonts/opensans/400i.woff) format('woff');
}

@font-face {
  font-family:'Open Sans';
  font-style:italic;
  font-weight:700;
  src:local('Open Sans Bold Italic'),url(//brick.a.ssl.fastly.net/fonts/opensans/700i.woff) format('woff');
}
