a,
p {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.bk-hor-nav {
  @include link-mix($darkest-color);
  a {
    font-family: $sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
}

.bk-blog-info {
  @include link-mix($darkest-color);
  a {
    font-family: $sans-serif;
    letter-spacing: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.75rem;
    &.active {
      font-weight: 700;
    }
    @include media-query($medium){
      font-size: 1.35rem;
      margin: 2px;
      display: inline-block;
      font-family: $reading;
      letter-spacing: 0;
    };
  }
  &--mini p,
  &--mini a {
    font-size: 0.75em;
  }
  p.about {
    font-weight: 300;
    font-family: $reading;
    a {
      font-size: 1em;
      font-weight: 300;
      position: relative;
      letter-spacing: 0;
      text-transform: none;
      @include underline($darkest-color, $main-color);
    }
  }
  #back-button {
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;
  }
  .copyright p {
    font-size: 0.56em;
    color: $dark-color;
    font-weight: 300;
  }
}

// -------------
// Blog Post styles
// -------------

// Time: Posted on...
.overview-posts h3,
.overview-posts time,
#blog-nav-dropdown p,
.bk-article-title h3,
.bk-article-title time,
.bk-footer-1__sec2 h3,
#storewindow__text h3 {
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  display: inline;
  color: $dark-color;
}

#blog-nav-dropdown span {
  color: $dark-color;
}

#blog-nav-dropdown p {
  vertical-align: middle;
}

// Heading
.overview-posts h1.posts-title,
.overview-posts a.blog-posts--title {
  font-family: $serif;
  font-weight: 400;
}

a.blog-posts--title {
  @include link-mix($darkest-color);
}

.overview-posts h1.posts-title {
  font-size: 1.85em;
  @include media-query($xtra-small){
    font-size: 2.25em;
  };
}

.overview-posts .blog-posts--overview-content p {
  font-size: 0.85rem;
  line-height: 1.6em;
  margin: 0.5em 0;
}

// Tags Formatting

.bk-blog-posts--tags p a,
.bk-footer-1__social p a,
.archive_tag p,
.bk__tags a,
.pic-break__credits p,
.pic-break__credits a{
  @include link-mix($dark-color);
  font-family: $sans-serif;
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

// Text Content Styles

.blog-posts--content p {
  line-height: 1.9em;
  letter-spacing: 0.02em;
}

.blog-posts--content a {
  @include link-mix($darkest-color);
}

.blog-posts--content {
  sup > a.footnote,
  .footnotes a.reversefootnote,
  .footnotes {
      display: none;
  }
}


// bk-footer
.bk-footer-2 p,
.bk-footer-1__sec2 .desc p,
.bk-footer-1__sec1__top ul li a,
.bk-footer-1__sec3__top ul li a,
.bk-footer__acknowledgement p,
.bk-footer__acknowledgement a{
  color: rgba(255,255,255,0.8);
  font-family: $sans-serif;
  font-size: 0.6em;
  font-weight: 300;
  margin: 0;
}

.bk-footer-1__sec2 .desc p {
  font-size: 0.7em;
  text-align: center;
}

.bk-footer__acknowledgement p {
  font-size: 0.4em;
  border: 1px solid white;
  padding: 0px 10px;
  min-height: 25px;
  @include display_flex;
  @include align-items(center);
  white-space: pre;
  @include media-query($small){
    font-size: 0.6em;
  };
  a {
    font-size: 1em;
  }
}


.bk-footer-1__sec1__top ul li,
.bk-footer-1__sec3__top ul li {
  line-height: 1.3em;
  padding: 2px 0;
}

.bk-footer-1__sec1__top ul li a,
.bk-footer-1__sec3__top ul li a {
  position: relative;
  display: inline-block;
  font-family: $reading;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.bk-footer-1__sec2 h3 {
  font-weight: 300;
  color: white;
}

.bk-footer-1__social p a {
  @include link-mix(white);
}


// links with hover animation
.bk-links a {
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    height: 1px;
    background: white;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

a.link {
  position: relative;
  display: inline-block;
  font-family: $reading;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.6rem;
}

a.announcement_link {
  @include pure-link($blog-font-color);
  &:before {
    background: $blog-font-color;
  }
}

.overview-posts .read_more-link a.link {
  border: 2px solid $accent-two;
  padding: 5px 10px;
  font-size: 0.6rem;
  color: $main-color;
  font-weight: 400;
  margin-top: 15px;
  background: $accent-two;
  @include media-query($large){
    padding: 10px 25px;
    margin-top: 0;
  };
}

.overview-posts .social__filler a.link {
  font-size: 0.5rem;
  color: white;
  @include media-query($xtra-small){
    display: none;
  };
}

.bk-overview-posts__social .social_share a {
  width: 35px;
  height: 35px;
  @include display_flex;
  @include align-items(center);
  @include justify-content(center);
  margin: 2px 1px;
  background: white;
  text-align: center;
  @include link-mix($accent-two);
  font-size: 0.8rem;
  &:last-of-type{
    margin-right: 0;
  }
  @include media-query($xtra-small){
    width: 40px;
    height: 40px;
    font-size: 1rem;
  };
  @include media-query($medium){
    margin: 1px 2px;
    &:last-of-type{
      margin-bottom: 0;
    }
  };
}

// Archive ------
.bk-blog__section-title h1 {
  font-family: $reading;
  color: $darkest-color;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  display: inline;
}

.tag_title h1 {
  font-weight: 500;
  margin-left: 10px;
}

.archive__element p.year {
  font-family: $reading;
  color: $darkest-color;
  font-size: 1.35rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0 0;
  margin: 0;
  display: inline-block;
}

.archive__item {
  p, a, span, time {
    font-family: $reading;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 0.9rem;
    margin: 0;
    @include media-query($small){
      font-size: 1rem;
      line-height: 1.2rem;
    };
  }
}

.archive__item {
  p.subtitle a,
  p.content,
  time,
  p.author,
  span {
    color: $dark-color;
    font-weight: 400;
    font-size: 0.7rem;
    @include media-query($small){
      font-size: 0.75rem;
    };
  }
  time,
  p.title {
    color: $blog-font-color;
    opacity: 0.7;
  }
  .item__about {
    text-align: right;
  }
  p.title,
  p.subtitle,
  p.content {
    text-overflow: ellipsis;
  	width: 100%;
  	white-space: nowrap;
  	overflow: hidden;
  }
  p.content {
    margin-top: 3px;
  }
  p.title {
    @include link-mix($blog-font-color);
  }
  p.subtitle {
    @include link-mix($dark-color);
  }
}

.archive__bc a,
.tags__alphabet li,
.tags__alphabet li a {
  font-family: $reading;
  color: $blog-font-color;
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 1rem;
  margin-right: 10px;
}

.archive__bc a,
.tags__alphabet li {
  margin-right: 0;
  color: $dark-color;
}

.tags__alphabet li a {
  color: $blog-font-color;
  margin-right: 0;
  cursor: pointer;
}

.archive__item time {
  white-space: nowrap;
}

.archive_link a,
a.link_button {
  border: 2px solid #ed9393;
  margin-top: 15px;
  background: #ed9393;
  padding: 10px 25px;
  @include pure-link($main-color);
}

a.link_button.-small {
  border: none;
  padding: 9px;
}

a.link_button.-white {
  background: white;
}

#tags h3 {
  text-transform: uppercase;
  font-family: $reading;
  color: $blog-font-color;
  margin-bottom: 10px;
  line-height: 1em;
  display: inline-block;
  position: relative;
}

// news
#news {
  h1, h2, p {
    font-family: $sans-serif;
    margin: 0;
    color: black;
  }
  h1 {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 0.7rem;
    font-weight: 400;
  }
  .tweet_content p,
  .tweet_content a,
  h1 span.time {
    font-size: 0.6rem;
    font-weight: 400;
    @include link-mix(rgba(0,0,0,0.5));
    @include media-query($small){
      font-size: 0.7rem;
    };
  }
  h1 span.time {
    margin-left: 3px;
    font-size: 0.5rem;
  }
  .tweet__interactions a {
    font-size: 0.7rem;
    margin-right: 10px;
    @include link-mix($darkest-color);
    opacity: 0.5;
  }
}

#storewindow__text h3,
#storewindow__text h1,
#storewindow__text p {
  color: white;
}

#storewindow__text a {
  @include link-mix(white);
}

.pic-break__info {
  p {
    @include link_mix(white);
    margin: 0;
    font-family: $reading;
    &, a {
      font-size: 0.8rem;
    }
  }
  a.link {
    margin-top: 10px;
    color: #606f54;
  }
}

.pic-break__name {
  p:last-of-type {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1em;
  }
}
