a,
p {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.bk-hor-nav {
  @include link-mix($dark-color);
}

.bk-blog-info {
  @include link-mix($darkest-color);
  &--mini p,
  &--mini a {
    font-size: 0.75em;
  }
  p.about {
    font-weight: 300;
    a {
      font-size: 1em;
      text-decoration: underline;
      font-weight: 300;
    }
  }
  #back-button {
    font-weight: 700;
  }
  .copyright p {
    font-size: 0.56em;
    color: $dark-color;
    font-weight: 300;
  }
}

// -------------
// Blog Post styles
// -------------

// Time: Posted on...
.overview-posts h3,
.overview-posts time,
#blog-nav-dropdown p,
.bk-article-title h3,
.bk-article-title time,
.bk-footer-1__sec2 h3 {
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  display: inline;
  color: $dark-color;
}

#blog-nav-dropdown span {
  color: $dark-color;
}

#blog-nav-dropdown p {
  vertical-align: middle;
}

// Heading
.overview-posts h1.posts-title,
.overview-posts a.blog-posts--title {
  font-family: $serif;
  font-weight: 400;
}

a.blog-posts--title {
  @include link-mix($darkest-color);
}

.overview-posts h1.posts-title {
  font-size: 2.25em;
}

// Tags Formatting

.bk-blog-posts--tags p a,
.bk-footer-1__social p a {
  @include link-mix($dark-color);
  font-family: $sans-serif;
  font-weight: 600;
  font-size: 0.6em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

// Text Content Styles

.blog-posts--content p {
  line-height: 1.9em;
  letter-spacing: 0.02em;
}

.blog-posts--content a {
  @include link-mix($darkest-color);
  border-bottom: 1px solid $dark-color;
}

.blog-posts--content {
  sup > a.footnote,
  .footnotes a.reversefootnote,
  .footnotes {
      display: none;
  }
}

// old footer
// ------------

// footer p,
// footer a {
//   font-family: $sans-serif;
//   font-weight: 300;
//   font-size: 0.7rem;
//   line-height: 1.1rem;
//   margin: 0;
//   @include link-mix($darkest-color);
//   // @include media-query($small){
//   //   font-size: 0.8rem;
//   //   line-height: 1.3rem;
//   // };
// }
//
// .column_2 li,
// .column_3 li,
// .column_4 li {
//   line-height: 0.6rem;
//   @include media-query($small){
//     line-height: 0.8rem;
//   };
// }
//
// .footer__acknowledgement a,
// .footer__acknowledgement p {
//   font-family: $sans-serif;
//   font-weight: 300;
//   margin: 0;
//   font-size: 1em;
//   @include link-mix ($darkest-color);
//   text-align: right;
//   @include media-query($medium){
//     @include link-mix (white);
//   };
// }
//
// .footer__acknowledgement p {
//   font-size: 0.4em;
//   line-height: 1.7em;
//   a {
//     line-height: 1em;
//   }
//   @include media-query($medium){
//     font-size: 0.56em;
//     a {
//       line-height: 1em;
//     }
//   };
// }
//
// .footer__acknowledgement a {
//   border-bottom: 1px solid $darkest-color;
//   @include media-query($medium){
//     border-bottom: 1px solid white;
//   };
// }

// new bk-footer
.bk-footer-2 p,
.bk-footer-1__sec2 p.desc,
.bk-footer-1__sec1__top ul li a{
  color: rgba(255,255,255,0.8);
  font-family: $sans-serif;
  font-size: 0.6em;
  font-weight: 300;
  margin: 0;
}

.bk-footer-1__sec2 p.desc {
  font-size: 0.7em;
  text-align: center;
}

.bk-footer-1__sec1__top ul li {
  line-height: 1.7em
}

.bk-footer-1__sec1__top ul li a {
  font-size: 0.9em;
}

.bk-footer-1__sec2 h3 {
  font-weight: 300;
  color: white;
}

.bk-footer-1__social p a {
  @include link-mix(white);
}
