// general defaults and variables (mixins)
$main-color: #EFEFEF;
$slightly-darker: #dadada;
$dark-color: #A2A2A2;
$darkest-color: rgb(0,0,0);
$blog-font-color: #272727;
$blog-font-color_small: rgb(0,0,0);
$highlighted-color: #cdddf6;
$light-accent: aliceblue;
$underline-color: $highlighted-color;

$sans-serif: "Open Sans", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
$serif: "Charter", "Times New Roman", Times, serif;
$heading: 'Frank Ruhl Libre', 'Times New Roman', serif;
$reading: "Roboto", "Helvetica Neue", Arial, sans-serif;

::selection {
  background: rgba(0,0,0,.5);
  opacity: 0.5;
  color: #fff;
  text-shadow: none;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}
main {
  overflow: hidden;
}

// device width (use bootstrap)
//$xtra-large: none !default;
$large: 1199px !default;
$medium: 991px !default;
$small: 767px !default;
$xtra-small: 575px !default;


// mixins for flexbox
@mixin display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($align){
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin justify-content($justify) {
-webkit-justify-content: $justify;
-moz-justify-content: $justify;
-ms-justify-content: $justify;
justify-content: $justify;
}

@mixin direction_column {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin direction_row {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

// mixin for media-querys
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// color mixin for links
@mixin link-mix($mixin-color) {
  color: $mixin-color;
  a {
    color: $mixin-color;
    &:hover,
    &:active,
    &:visited,
    &:focus {
      text-decoration: none;
      color: $mixin-color;
    }
  }
}

@mixin pure-link($mixin-color) {
  color: $mixin-color;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: $mixin-color;
  }
}


// fix for js-links not showing up while hovering over them
.js-hover:hover {
  cursor: pointer;
}

@import
  "typography_base",
  "typography",
  "home/nav",
  "home/screen_nav",
  "home/bk-footer",
  "blog/default",
  "blog/pagination",
  "home/announcement",
  "home/static",
  "home/analytics",
  "home/syntax-highlighting.scss"
;
