// general defaults and variables (mixins)
$main-color: #EFEFEF;
$accent-color: rgb(155, 167, 138);
$accent-two:rgb(237, 147, 147);
$slightly-darker: #dadada;
$dark-color: #A2A2A2;
$really-dark: #5a5a5a;
$blue-black: #263238;
$bb-soft: #979797;
$darkest-color: rgb(0,0,0);
$blog-font-color: #272727;
$blog-font-color_small: rgb(0,0,0);
$highlighted-color: rgb(238, 189, 188); //rgba(237, 147, 147, 0.55); //#cdddf6;
$highlighted-color-solid: rgb(238, 189, 188);
$light-accent: aliceblue;
$underline-color: $highlighted-color;
$yellow-accent: rgb(246, 241, 237);
$blue-accent: rgb(48, 65, 93);
$overview-accent: $dark-color;

$side-space: 25px;

$sans-serif: "Open Sans", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
$serif: "Charter", "Times New Roman", Times, serif;
$heading: 'Charter', 'Times New Roman', serif;
$reading: "Roboto", "Helvetica Neue", Arial, sans-serif;
//$reading: 'Lora', "Times New Roman", Times, serif;
$mono: 'Roboto Mono', "Courier New", Courier, monospace;

::selection {
  background: rgba(0,0,0,.5);
  opacity: 0.5;
  color: #fff;
  text-shadow: none;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

audio, canvas, img, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

img {
    border-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  font-weight: 400;
  color: #333;
  text-transform: none;
}

h1 {
  line-height: 1.2;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.4;
}

ol>li>ol, ol>li>ul, ul>li>ol, ul>li>ul {
  margin: 0;
}

main {
  overflow: hidden;
}

// device width (use bootstrap)
//$xtra-large: none !default;
$large: 1199px !default;
$medium: 991px !default;
$small: 767px !default;
$xtra-small: 575px !default;


// mixins for flexbox
@mixin display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($align){
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin justify-content($justify) {
-webkit-justify-content: $justify;
-moz-justify-content: $justify;
-ms-justify-content: $justify;
justify-content: $justify;
}

@mixin direction_column {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin direction_row {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin direction_row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

// mixin for media-querys
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// color mixin for links
@mixin link-mix($mixin-color) {
  color: $mixin-color;
  a {
    color: $mixin-color;
    &:hover,
    &:active,
    &:visited,
    &:focus {
      text-decoration: none;
      color: $mixin-color;
    }
  }
}

@mixin pure-link($mixin-color) {
  color: $mixin-color;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: $mixin-color;
  }
}

//mixin for underline-style of links
@mixin underline($line-color, $background-color) {
  text-decoration: none;
  background: -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient($background-color, $background-color), -webkit-linear-gradient($line-color, $line-color);
  background: linear-gradient($background-color, $background-color), linear-gradient($background-color, $background-color), linear-gradient($line-color, $line-color);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 93%, 100% 93%, 0% 93%;
  text-shadow: 0.03em 0 $background-color, -0.03em 0 $background-color, 0 0.03em $background-color, 0 -0.03em $background-color, 0.06em 0 $background-color, -0.06em 0 $background-color, 0.09em 0 $background-color, -0.09em 0 $background-color, 0.12em 0 $background-color, -0.12em 0 $background-color, 0.15em 0 $background-color, -0.15em 0 $background-color;
}

@mixin just_underline($line-color) {
  text-decoration: none;
  background: -webkit-linear-gradient($line-color, $line-color), -webkit-linear-gradient($line-color, $line-color), -webkit-linear-gradient($line-color, $line-color);
  background: linear-gradient($line-color, $line-color), linear-gradient($line-color, $line-color), linear-gradient($line-color, $line-color);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

.bk-m-c {
  padding: 15px 30px;
  @include media-query($xtra-small){
    padding: 30px 60px 30px;
  };
  @include media-query($medium){
    padding: 30px 120px 30px 60px;
  };
}

@media print {
  .no-print {
    display: none !important;
  }
}


// fix for js-links not showing up while hovering over them
.js-hover:hover {
  cursor: pointer;
}

@import
  "import/normalize",
  "import/slick",
  "typography_base",
  "typography",
  "home/nav",
  "home/screen_nav",
  "home/bk-footer",
  "blog/default",
  "blog/pagination",
  "home/announcement",
  "home/static",
  "home/analytics",
  "home/pic-break",
  "home/animation",
  "home/syntax-highlighting"
;
