<div class="bk-signature">
  {% include svg/_sign.html %}
</div>

<script type="text/javascript">
  var footnotes = $('.footnotes');
  function sign_website(el){
    var bkSignature = document.getElementsByClassName('bk-signature');
    var signature_content = $(bkSignature).html();
    $(el).before('<div class="bk-signature bk-success">'+signature_content+'</div>');
    var bkSignature_old = document.querySelector('.bk-signature:not(.bk-success)');
    $(bkSignature_old).remove();
  }
  if (footnotes.length > 0) {
    sign_website(footnotes);
  } else {
    var bkSignature = document.getElementsByClassName('bk-signature');
    $(bkSignature).addClass('bk-success');
  }
</script>
