<section class="bk-blog">
  <div class="archive__svg">
    {% include svg/_sign.html %}
  </div>
  <div class="bk-blog__navigation">
    {% include navigation/_blog-nav.html %}
  </div>
  <div class="bk-blog__content bk-blog__archive">
    <div class="bk-blog__section-title">
      <h1>Archive</h1>
      <div class="archive_tag"><p>{{ page.title }}</p></div>
    </div>

    <section id="archive">
      {% for post in site.tags[page.tag] %}

        {% include blog/archive/_inner.html %}

      {% endfor %}
    <!-- </div> -->
      </div>
    </div>
    </section>

  </div>
</section>
