<section id="ggl-analytics">
  <div class="ggl-analytics__inner">
    <div class="ggl-analytics__main">
      <div class="ggl-content">
        <p>This website uses <span class="fa fa-google"></span> Analytics, a web analysis service of the Google Inc. You may opt-out of anonymous tracking at any time by clicking on this <a id="ggl-optOut">link</a>. A cookie will be set, which avoids having your information collected by that site with future effect. If you would like to have more information you can also take a look at this sites <a href="/pp">privacy policy</a>.</p>
      </div>
      <div class="ggl-bttn">
        <a id="ggl-ignore-bttn">I'm okay with <br> <span class="fa fa-google"></span> Analytics</a>
      </div>
      <div class="ggl-close" id="ggl-close"></div>
    </div>
  </div>
</section>
