<script>

var gaProperty = 'UA-XXXXXXX-X';
var disableStr = 'ga-disable-' + gaProperty;
if (document.cookie.indexOf(disableStr + '=true') > -1) {
  window[disableStr] = true;
}
function gaOptout() {
expiration_date = new Date();
expiration_date.setTime(expiration_date.getTime()+(1000*60*60*24*30))
document.cookie = disableStr + '=true; expires=' + expiration_date + '; path=/';
window[disableStr] = true;
}


if (document.cookie.indexOf('gaIgnore=true') > -1) {
  window[gaIgnore] = true;
}
function gaIgnore(){
  document.cookie = 'gaIgnore=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
  window[gaIgnore] = true;
}

$(window).on('load', function() {
  setTimeout(
    function(){
      if (!window[disableStr] && !window[gaIgnore]) {
        $('#ggl-analytics').addClass('ggl-active');
        setTimeout(
          function(){
            $('.ggl-active').css('transition', 'none')
        }, 500);

        if($(window).width() > 1199) {
          $('footer').waypoint(function(direction){
            if (direction === 'down') {
              $('#ggl-analytics').addClass('stuck');
            } else {
              $('#ggl-analytics').removeClass('stuck');
            }
           }, {
             offset: $(window).innerHeight() - ($(window).innerHeight() - $('#ggl-analytics').outerWidth())/2
          })
        }

        function close_ga_notify(){
          if ($('#ggl-analytics').hasClass('stuck')) {
            $('#ggl-analytics').removeClass('ggl-active').css({
              'transition': 'all 0.4s ease-in-out',
              'transform': 'rotate(-90deg) translate(0%, 100%)'
            })
          } else {
            $('#ggl-analytics').removeClass('ggl-active').css('transition', 'all 0.4s ease-in-out')
          }
        }

        $("#ggl-close, #ggl-ignore-bttn").click(function(){
          gaIgnore();
          close_ga_notify();
        })

        $('#ggl-optOut').click(function(){
          gaOptout();
          close_ga_notify();
        })

      } // end if not disabled and not ignored
  }, 1000); // end Timeout & function
}) // end window onload

</script>
