.bk-blog__section-title {
  @include display_flex;
  @include align-items(center);
}

.bk-blog__archive {
  @include display_flex;
  @include direction_column;
  margin: 0;
  @include media-query($medium){
    margin: 0 auto;
  };
}

.bk-blog__archive__inner {
  max-width: 750px;
  min-width: 70%;
  margin: 0;
  @include media-query($medium){
    margin: 0 auto;
  };
}

.archive__img {
  width: 250px;
  transform: translateX(-65px);
  position: relative;
  margin-bottom: 50px;
  &:after,
  &:before{
    content: '';
    width: 1px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: $darkest-color;
    transform: translateX(calc(-50% - 38px));
    @include media-query($medium){
      transform: translateX(-50%);
    };
  }
  &:before {
    top: 100%;
    bottom: unset;
  }
}

#archive {
  margin: 30px 0 100px;
  padding-bottom: 40px;
  position: relative;
  @include media-query($medium){
    transform: translateX(38px);
  };
}


.archive__element h3 {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background: $darkest-color;
    left: 50%;
    width: 15px;
    height: 1px;
    transform: translateX(-50%);
    top: 0;
  }
}

.archive__box {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 50px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background: $darkest-color;
    left: 22px;
    width: 1px;
    height: 50px;
    transform: translateX(-50%);
    top: 100%;
  }
}

.archive__item {
  margin: 0 0 15px;
}

.archive_tag {
  display: table-cell;
  p {
    display: table;
    position: relative;
    border: 1px solid $dark-color;
    border-radius: 20px;
    padding: 3px 15px;
    vertical-align: middle;
    margin: 0 0 0 40px;
    background-color: $main-color;
    &:before {
      content: '+';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-60%, -52%);
      color: $dark-color;
      opacity: 0.3;
      font-size: 4rem;
    }
  }
}

.archive__item .item__time {
  margin-bottom: 5px;
}

.archive__bc {
  margin-bottom: 10px;
  ul {
    padding: 0;
    &>:nth-child(n+2):before {
      content: "/";
      display: inline-block;
      margin: 0 10px;
      color: $dark-color;
    }
  }
  li {
    list-style: none;
    display: inline;
    line-height: 1rem;
    &:last-of-type a {
      color: $blog-font-color;
    }
  }
}
