.bk-blog__section-title {
  @include display_flex;
  @include align-items(center);
}

.bk-blog__archive {
  @include display_flex;
  @include direction_column;
  margin: 0;
  @media(max-width: 575px){
    padding: 20px 15px 50px;
  }
  @include media-query($medium){
    margin: 0 auto;
    overflow: hidden;
  };
}

.bk-blog__archive__inner {
  max-width: 100%;
  margin: 0;
  @include media-query($medium){
    margin: 0 auto;
    overflow: hidden;
    max-width: 90%;
  };
}

#archive {
  margin: 30px 0 100px;
  padding-bottom: 40px;
  position: relative;
  @include media-query($medium){
    //transform: translateX(38px);
  };
}


.archive__element p.year {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background: $darkest-color;
    left: 50%;
    width: 15px;
    height: 1px;
    transform: translateX(-50%);
    top: 0;
  }
}

.archive__element__frame:first-of-type p.year:before {
  content: none;
}

.archive__box {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
  @include display_flex;
  flex-wrap: wrap;
  &:after {
    content: '';
    position: absolute;
    background: $darkest-color;
    left: 25px;
    width: 1px;
    height: 25px;
    transform: translateX(-50%);
    top: 100%;
  }
}

.archive__item {
  margin: 0 0 15px;
  width: 100%;
  background: white;
  border-radius: 3px;
  @include display_flex;
  @include align-items(center);
  box-shadow: 2px 2px $accent-two;
  @include media-query($medium){
    width: calc(50% - 10px);
    margin-right: 10px;
    min-width: 450px;
  };
}

.item__info,
.item__about {
  padding: 12px 12px;
  @include media-query($small){
    padding: 15px 20px;
  };
}
.item__info {
  padding-bottom: 0;
  flex: 1 1 100%;
  overflow: hidden;
}
.item__about {
  flex: 0 0 auto;
}

.item__info_2 {
  margin-top: 8px;
  span.tag {
    background: $accent-two;
    color: white;
    padding: 3px 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.archive_tag {
  display: table-cell;
  p {
    display: table;
    position: relative;
    border: 1px solid $dark-color;
    border-radius: 20px;
    padding: 3px 15px;
    vertical-align: middle;
    margin: 0 0 0 40px;
    background-color: $main-color;
    &:before {
      content: '+';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-60%, -52%);
      color: $dark-color;
      opacity: 0.3;
      font-size: 4rem;
    }
  }
}

.archive__bc {
  margin-bottom: 10px;
  ul {
    padding: 0;
    &>:nth-child(n+2):before {
      content: "/";
      display: inline-block;
      margin: 0 10px;
      color: $dark-color;
    }
  }
  li {
    list-style: none;
    display: inline;
    line-height: 1rem;
    &:last-of-type a {
      color: $blog-font-color;
    }
  }
}
