.bk-article-nav svg {
  @include media-query($medium){
    visibility: hidden;
  };
}

.bk-article-nav--frame {
  margin-top: 50px;
}

.bk-article-nav {
  display: flex;
  align-items: flex-start;
}

.vertical-blog-link__line {
  background-color: black;
  width: 150px;
  height: 1px;
}

.bk-article-title {
  @include display_flex;
  @include direction_column;
  margin-top: 100px;
}

.bk-article-title__row {
  @include display_flex;
  &:last-of-type {
    margin-bottom: -84px;
  }
}

.article-column {
  @include display_flex;
  @include align-items(center);
}

.bk-article-main {
  width: 100%;
  @include display_flex;
  @include direction_column;
  @include justify-content(center);
  @include media-query($medium){
    width: 60%;
  };
}

.bk-side-space {
  @include justify-content(flex-start);
  width: 0%;
  @include media-query($medium){
    width: 20%;
  };
  svg {
    height: 50px;
    width: 50px;
    margin-left: 60px;
  }
}

.bk-title-frame {
  margin: 0 auto;
  text-align: center;
  max-width: 580px;
}

.article-author-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.bk-article-title .bk-blog-posts__date {
  margin-bottom: 15px;
}

.bk-article-title .bk-blog-posts--tags {
  margin: 25px 0 20px 0;
}

.bk-article-title .article-author-id {
  margin-top: 15px;
}

.vertical-transform-frame {
  transform: rotate(270deg) translate(-210%, 12px);
  transform-origin: top left;
  margin-left: 60px;
}

.vertical-blog-link {
  position: absolute;
  @include display_flex;
  @include align-items(center);
  a {
    display: flex;
    align-items: center;
  }
}

.vertical-blog-link svg {
  height: 12px;
  width: 47px;
  margin-left: 3px;
  margin-right: 10px;
}

.bk-blog-content {
  width: 100%;
  max-width: 700px;
  margin: 200px auto;
  img {
    width: 100%;
  }
}

.bk-article .bk_img_big_screen {
  display: block;
  @include media-query($medium){
    display: none;
  };
}
