.bk-article-nav {
  @include media-query($medium){
    svg {
      opacity: 0;
      fill: white;
      transition: opacity 0.4s ease-in-out 0.5s;
    }
    // &.active svg{
    //   opacity: 1;
    //   fill: white;
    //   transition: opacity 0.4s ease-in-out 0s;
    // }
  }
}

.bk-article-nav--frame {
  padding-top: 50px;
}

// .bk-article-nav {
//   display: flex;
//   align-items: flex-start;
// }

.vertical-blog-link__line {
  background-color: black;
  width: 150px;
  height: 1px;
}

.bk-article-title {
  @include display_flex;
  @include direction_column;
  width: 75%;
  margin: 100px auto 0;
  @include media-query($small){
    width: 100%;
  };
}

.bk-article-title__row {
  @include display_flex;
  &:last-of-type {
    margin-bottom: -84px;
  }
}

.article-column {
  @include display_flex;
  @include align-items(center);
}

.bk-article-main {
  width: 100%;
  //z-index: 1;  // --> otherwise zoom won't work
  @include display_flex;
  @include direction_column;
  @include justify-content(center);
  @include media-query($medium){
    width: 60%;
  };
}

.bk-side-space {
  @include justify-content(flex-start);
  width: 0%;
  overflow: hidden;
  @include media-query($medium){
    width: 20%;
  };
  svg {
    height: 50px;
    width: 50px;
    margin-left: 60px;
  }
}

.bk-title-frame {
  margin: 0px auto 20px;
  text-align: center;
  max-width: 580px;
  @include media-query($small){
    margin: 0px auto 45px;
  };
}

.bk-sub_title-frame {
  margin: 0;
  max-width: 450px;
  line-height: 1rem;
  position: relative;
  padding-bottom: 9px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 10px;
    background-color: $dark-color;
  }
}

.bk-sub_title__border {
  //border-bottom: 1px solid $dark-color;
  margin-bottom: 5px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $dark-color;
    @include media-query($small){
      left: 0;
      right: 0;
      max-width: 580px;
      margin: 0 auto;
    };
  }
}

.author_element {
  z-index: 1;
}

.article-author-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.bk-article-title .bk-blog-posts__date {
  text-align: center;
}

.bk-article-title .bk-blog-posts--tags {
  margin-bottom: 20px;
}

.bk-article-title .article-author-id {
  margin-top: 15px;
}

.bk-article__nav {
  position: relative;
}

.vertical-transform-frame {
  right: calc(100% - 72px);
  top: 72px;
  transform: rotate(270deg);
  transform-origin: right top;
  white-space: nowrap;
  position: absolute;
  display: none;
  @include media-query($medium){
    display: block;
  };
}

.vertical-blog-link {
  @include display_flex;
  @include align-items(center);
  a {
    display: flex;
    align-items: center;
  }
}

.vertical-blog-link svg {
  height: 12px;
  width: 47px;
  margin-left: 3px;
  margin-right: 10px;
}

.bk-blog-content {
  width: calc(100% - 30px);
  max-width: 650px;
  margin: 150px auto 50px;
  padding: 0 15px;
  @include media-query($medium) {
    width: 100%;
    padding: 0;
    margin: 200px auto;
  };
}

.bk-article .bk_img_big_screen {
  display: block;
  @include media-query($medium){
    display: none;
  };
}
