.bk-article-title h1 {
  // Titel in der individuellen Artikel-Ansicht
  font-family: $serif;
  font-weight: 400;
  font-size: 48px;
}

.bk-article-title .article-author-id h2,
.bk-article-title .article-author-id h3 {
  font-family: $sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
}

.bk-article-title .article-author-id h2 {
  color: $dark-color;
  font-weight: 300;
  letter-spacing: 2px;
}

.bk-article-title .article-author-id h3 {
  color: $darkest-color;
  font-weight: 700;
  letter-spacing: 1px;
}

.vertical-blog-link a {
  @include link-mix($darkest-color);
}

.vertical-blog-link p {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2em;
}

// Typography for BLOG

.bk-blog-content {
  p,
  a {
    font-family: $sans-serif;
    font-weight: 300;
  }
}

.bk-blog-content p {
  color: $blog-font-color;
  line-height: 1.8em;
}

.bk-blog-content h5,
.bk-blog-content h6,
span.info {
  font-family: $sans-serif;
  font-weight: 600;
  font-size: 0.6em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.bk-blog-content h6,
span.info {
  line-height: 1.8em;
  float: left;
  display: block;
  margin: 0px;
  padding-top: 5px;
  margin-right: 4px;
}

span.info {
  float: none;
  display: inline;
  vertical-align: middle;
}

.bk-blog-content h6::after,
span.info:after {
  content:"\27F6";
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 3px;
  color: #696969;
}
