.bk-article-title h1 {
  // Titel in der individuellen Artikel-Ansicht
  font-family: $serif;
  font-weight: 400;
  width: 100%;
  font-size: 2rem;
  margin: 0;
  @include media-query($small){
    font-size: 3rem;
  };
}

.bk-article-title .article-author-id h2,
.bk-article-title .article-author-id h3,
.bk-article-title .article-author-id h4 {
  font-family: $sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
}

.bk-article-title .article-author-id h2 {
  color: $dark-color;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.56rem;
}

.bk-article-title .article-author-id h3 {
  color: $darkest-color;
  font-weight: 700;
  letter-spacing: 1px;
}

.bk-article-title .article-author-id h4 {
  color: $dark-color;
  font-weight: 600;
  margin-top: 7px;
  position: relative;
  svg {
    margin-right: 3px;
  }
  &:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 1px;
    background: $dark-color;
  }
}

.bk-sub_title h3 {
  background: $accent-color;
  padding: 7px 10px;
  color: white;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  width: 70%;
  line-height: 1.4rem;
  position: relative;
}

.overview-posts .bk-sub_title h3 {
  background: $overview-accent;
}

.overview-posts .bk-sub_title h3 {
  @include media-query($large){
    left: -30px;
    padding-left: 30px;
  };
}

.vertical-blog-link a {
  @include link-mix($darkest-color);
}

.vertical-blog-link p {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2em;
}

// Typography for BLOG

.bk-blog-style {
  p,
  a,
  ul,
  ol {
    font-family: $reading;
    font-weight: 400;
  }
  a {
    @include link-mix($blog-font-color_small);
    position: relative;
    @include underline($blog-font-color_small, $main-color);
    // &:after {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 5px;
    //   background: rgba(119, 119, 119, 0.33);
    //   bottom: 5%;
    //   left: 0;
    // }
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    @include media-query($small){
      @include link-mix($blog-font-color);
      @include underline($blog-font-color, $main-color);
    };
  }
  h1,
  h1>a,
  h2,
  h2>a,
  h3,
  h3>a {
    font-family: $heading;
  }
  h4,
  h4>a {
    font-family: $heading;
    border-bottom: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
    + p {
      margin-top: 10px;
    }
    a:before {
      @include media-query($small){
        content: "\f0c1";
        font-family: "Font Awesome 5 Solid";
        display: none;
      };
    }
    a>svg {
      display: none;
      @include media-query($small){
        font-size: 1rem;
        vertical-align: middle;
        margin-right: 10px;
        opacity: 0.3;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        display: block;
      };
    }
    a:after {
      content: none;
    }
  }
}

// margins
address,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0 0 1em 0;
}

*+address,
*+dl,
*+fieldset,
*+figure,
*+ol,
*+p,
*+pre,
*+ul {
  margin-top: 1em;
}

.bk-blog-style p,
.bk-blog-style ul,
.bk-blog-style ol,
.bk-blog-style a,
.bk-blog-style p>code,
.bk-blog-style p em,
.bk-blog-style li em {
  color: $blog-font-color_small;
  line-height: 1.8em;
  //line-height: 1.725em;
  font-size: 1.0rem;
  //font-size: 1.0625rem;
  letter-spacing: 0.015em;
  @include media-query($small){
    color: $blog-font-color;
  };
}

.bk-blog-style p,
.bk-blog-style li {
  .highlighted {
    background-color: $highlighted-color;
    padding: 2px 4px;
    a {
      @include underline($darkest-color, $highlighted-color-solid);
    }
  }
  strong {
    font-weight: 700;
    @include media-query($xtra-small){
      font-weight: 500;
    };
  }
  sup a {
    border: none;
    font-size: 0.7rem;
    white-space: nowrap;
    background: none;
    &:after {
      content: none;
    }
  }
  // + p {
  //   text-indent: 1em;
  // }
}

h1 + div>pre,
h2 + div>pre,
h3 + div>pre,
h4 + div>pre,
h5 + div>pre,
h6 + div>pre {
  margin-top: 0px;
}

pre {
  white-space: pre-wrap;
  margin: 1rem 0;
  background: none;
  border-radius: 2px;
  overflow: auto;
  border: none;
  // border-top: 1px solid $dark-color;
  // border-bottom: 1px solid $dark-color;
  // border-left: 1px solid $dark-color;
  padding: 10px;
  font-size: 0.8rem;
  line-height: 1.5em;
  tab-size: 4;
  overflow: auto;
  code {
    font-family: $mono;
    white-space: pre;
    -webkit-font-smoothing: auto;
  }
  @include media-query($xtra-small){
    padding: 20px;
  };
}

.block pre {
  margin: 2rem 0;
  width: calc(100% - 20px + 2 * 15px);
  margin-left: -15px;
  background: white;
  @include media-query($xtra-small){
    margin-left: 0;
    width: unset;
  };
}

.overflow {
  margin: 30px 0;
  @include media-query($small){
    margin: 40px 0;
  };
  pre {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

.overflow_element {
  @include display_flex;
  @include align-items(center);
  @include justify-content(flex-start);
  p {
    font-size: 0.6em;
    letter-spacing: 2px;
    line-height: 1em;
    color: $dark-color;
    margin-right: 5px;
  }
  svg {
    width: 17px;
    #arrow_el {
      stroke: $dark-color;
    }
  }
}

.bk-blog-style p>code,
.bk-blog-style li>code {
  color: $blog-font-color;
  background: rgba(162, 162, 162, 0.2);
  padding: 4px 4px 2px;
  border-radius: 3px;
  font-size: 0.9em;
  white-space: pre-wrap;
  -webkit-font-smoothing: auto;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
  margin-top: 55px;
}

.bk-blog-style h1,
.bk-blog-style h1>a,
.bk-blog-style h2,
.bk-blog-style h2>a {
  font-size: 2.0625rem;
  font-weight: 600;
  letter-spacing: -0.03em;
  line-height: 1.2;
  //letter-spacing: 0.035em;
  position: relative;
  width: 90%;
  @include media-query($small){
    //font-size: 1.975rem;
  };
  @include media-query($medium){
    font-size: 2.775rem;
  };
}

.bk-blog-style h1,
.bk-blog-style h1>a {
  font-size: 2rem;
  @include media-query($small){
    font-size: 3rem;
  };
}

.bk-blog-style h1 + p,
.bk-blog-style h2 + p {
  margin-top: 10px;
}

.bk-blog-style h4 {
  font-style: italic;
}

.bk-article-main .bk-blog-style {
  h1:not(.no_initial),
  h2:not(.no_initial) {
    @include media-query($medium){
      margin-left: -5%;
      width: 105%;
    };
  }
  h2:not(.no_initial):before {
    @include media-query($medium){
      content: attr(data-letter);
      position: absolute;
      font-size: 15rem;
      top: 0;
      right: 100%;
      line-height: 0.8em;
      opacity: .1;
      transform: translate(60%, -20%);
      z-index: 1;
    };
  }
}

.bk-blog-style {
  h3,
  h4,
  h5 {
    width: 90%;
    @include media-query($medium){
      width: 90%;
    };
  }
  h3,
  h3>a,
  h4,
  h4>a {
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: -0.03em;
    //font-size: 1.55rem;
    font-size: 1.725rem;
    @include media-query($small){
      font-size: 2.075rem;
    };
  }
}

.bk-blog-style h5,
.bk-blog-style h5>a,
.bk-blog-style h6,
.bk-blog-style h6>a,
span.title {
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 2em;
  font-family: $sans-serif;
  margin-bottom: 0;
  @include media-query($small){
    font-size: 0.6rem;
  };
}

.bk-blog-style h6,
.bk-blog-style h6>a,
span.title {
  line-height: 1.8rem;
  float: left;
  display: block;
  margin: 0px;
  padding: 0;
  margin-right: 4px;
}

span.title,
.bk-blog-style h6.inline-title,
.bk-blog-style h6.inline-title>a, {
  float: unset;
  display: inline;
  vertical-align: bottom;
  line-height: unset;
  position: relative;
  top: -2px;
  color: $accent-two;
  @include media-query($small){
    top: -1px;
  };
}

.bk-blog-style h6::after,
span.title:after {
  content:"\27F6";
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 3px;
  color: $accent-two;
  position: relative;
  top: -2px;
  @include media-query($small){
    top: -1px;
  };
}

p.quote {
  font-family: $serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  width: 86%;
  margin: 50px 7%;
  text-align: center;
  position: relative;
  padding: 20px 0;
  border: 1px solid $blog-font-color;
  border-left: none;
  border-right: none;
  @include media-query($medium){
    width: 140%;
    margin: 50px -20%;
    font-size: 1.8rem;
  };
  @include media-query($large){
    width: 150%;
    margin: 50px -25%;
    font-size: 2.8rem;
  };
  &:before {
    content: open-quote;
    position: absolute;
    left: -0.5em;
    top: 0em;
    font-size: 3em;
  }
  &:after {
    content: close-quote;
    position: absolute;
    right: -0.5em;
    bottom: -0.45em;
    font-size: 3em;
  }
}

blockquote { //overwriting ukit
  font-size: 1rem;
  margin: 0 0 20px 0;
}

.bk-blog-style blockquote p {
  margin: 40px 0 40px 15px;
  @include media-query($medium){
    margin: 40px 0 40px 40px;
    //width: 80%;
  };
  &:before {
    content: "Quote";
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.6em;
    line-height: 1em;
    margin-right: 10px;
    color: $accent-two;
    font-weight: 700;
  }
}
.bk-blog-style blockquote p,
.bk-blog-style blockquote p em,
.bk-blog-style blockquote p a {
  color: rgba(0 ,0 ,0 , .5);
  //line-height: 1.5em;
  //font-size: 0.9rem;
}

// Liste
.bk-blog-style ol {
  padding-left: 25px;
  counter-reset: item;
  list-style-type: none;
  li ol {
    padding-left: 15px;
    margin-top: 10px;
  }
  @include media-query($xtra-small){
    padding-left: 43px;
  };
  li {
    display: block;
    position: relative;
    line-height: 1.7rem;
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  li:before {
    content: counter(item, decimal-leading-zero) " ";
    //content: "0" counter(item);
    counter-increment: item;
    display: inline-block;
    position: absolute;
    right: 100%;
    font-size: 0.6em;
    margin-right: 15px;
    color: $dark-color;
    line-height: 1.8rem;
    vertical-align: inherit;
  }
}

.bk-blog-style ul,
.bk-blog-style ol {
  font-size: 0.9rem;
  a, em, strong {
    font-size: unset;
  }
}

.bk-blog-style ul {
  list-style: none;
  padding: 0 0 0 21px;
  ul {
    padding: 0 0 0 15px;
  }
  li {
    line-height: 1.7rem;
    position: relative;
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0;
    }
    &:before {
      content: '\2013';
      font-size: 1.2em;
      line-height: 1.7rem;
      vertical-align: middle;
      margin-right: 10px;
      color: $dark-color;
      position: absolute;
      right: 100%;
    }
  }
  @include media-query($xtra-small){
    padding: 0 0 0 calc(15px + 21px);
  };
}

.bk-blog-style .footnotes {
  position:relative;
  //margin-top: 30px;
  padding-top: 20px;
  margin-bottom: 100px;
  @include media-query($medium){
    margin-top: 10px;
    margin-bottom: 0;
  };
  p, a {
    margin-bottom: unset;
    line-height: unset;
    display: inline-block;
    font-size: unset;
    // margin-bottom: 0;
    // line-height: unset;
    // display: inline;
    // font-size: 1em;
    .reversefootnote {
      font-size: 0.7rem;
      vertical-align: middle;
      line-height: 1em;
      color: $darkest-color;
      background: none;
      text-shadow: none;
      font-family: $sans-serif;
      font-weight: 600;
      &:after {
        content: none;
      }
    }
    em {
      font-size: 1em;
    }
  }
  ol {
    font-family: $reading;
    font-weight: 300;
    padding-left: 25px;
    li {
      line-height: 1.2rem;
      padding-bottom: 5px;
      font-size: 0.7rem;
      margin: 0;
      &:before {
        margin-right: 5px;
        line-height: unset;
        color: $darkest-color;
        font-weight: 700;
        font-family: 'Open Sans';
        font-size: 0.6rem;
      }
    }
  }
  &:before {
    content: 'Footnotes';
    color: $darkest-color;
    font-family: "Open Sans","Source Sans Pro","Helvetica Neue",Arial,sans-serif;
    font-weight: 900;
    font-size: 0.9rem;
    // letter-spacing: 0.05rem;
    text-transform: uppercase;
    // border: 1px solid $dark-color;
    // background: $dark-color;
    // border-radius: 2px;
    // margin: 0 2px;
    // padding: 4px 15px;
    margin-bottom: 5px;
    display: inline-block;
  }
}

// big letter just in article view
.bk-np-style>p:first-of-type:first-letter {
  font-size: 6.15rem;
  font-family: $serif;
  margin-right: 10px;
  float: left;
  line-height: 0.8em;
  margin-bottom: 0px;
}

p.intro,
p.intro a {
  width: 100%;
  line-height: 1.55em;
  font-size: 1.1rem;
  font-weight: 300;
  color: $blog-font-color;
  font-family: $reading;
  margin: 0;
  -webkit-font-smoothing: auto;
  @include media-query($small){
    line-height: 1.75em;
    font-size: 1.15rem;
  };
  em {
    font-size: 1em;
    line-height: 1em;
  }
}

p.intro + p.intro {
  margin-top: 0.6em;
}

p.intro a:after {
  bottom: 10%;
}

.bk-blog-style hr {
  border-top: 1px solid $dark-color;
  opacity: 0.3;
}

.intro-frame {
  margin-bottom: 30px;
}

.info_block {
  margin: 50px 0;
  background: white;
  border-radius: 2px;
  width: 100%;
  padding: 35px 25px;
  margin-left: -25px;
  @include display_flex;
  @include direction_column;
  p {
    font-size: 0.9rem;
    line-height: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
    a {
      font-size: 1em;
      @include underline($blog-font-color, white);
    }
  }
  @include media-query($medium){
    margin-left: -3rem;
    width: calc(100%);
    padding: 2.5rem 3rem;
  };
}

.info_bar {
  h3 {
    line-height: 1em;
    font-family: $mono;
    font-weight: 600;
    color: $accent-two;
    font-size: 0.6rem;
    letter-spacing: 0.14em;
    border: 1px solid $accent-two;
    border-radius: 2px;
    padding: 4px 15px;
    display: inline;
  }
  .info_bar__title {
    margin-bottom: 1.5rem;
    h3 {
      text-transform: uppercase;
    }
  }
  .info_bar__sub {
    margin-top: 1.5rem;
  }
  &.info_bar_sub {
    order: 1;
  }
}

.bk-signature {
  width: 200px;
  transform: translate(-10px, calc(-1em - 20px));
  display: none;
  &.bk-success {
    display: block;
  }
}

.bk-blog-style p img {
  padding: 0;
  width: 100%;
  z-index: 1;
  position: relative;
  + img {
    margin-top: 20px;
  }
  &.lock {
    width: auto;
  }
  &[src=""] {
    visibility: hidden;
  }
}

.bk-blog-style p.bk_img {
  width: calc(100% + 2 * #{$side-space});
  left: -#{$side-space};
  position: relative;
  @include media-query($medium){
    width: 100%;
    left: unset;
  };
}

.bk-blog-style p.two {
  img {
    max-width: calc(50% - 3px);
    margin: 0;
    &:first-of-type {
      float: left;
    }
    &:last-of-type {
      float: right;
    }
  }
  .inner_frame:after {
    content: '';
    display: block;
    clear: both;
  }
  @include media-query($medium){
    img {
      max-width: calc(50% - 10px);
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }
  };
}

.image_frame {
  margin: 2em 0;
  position: relative;
  // transform: translateX(-15px);
  width: calc(100% + 2 * #{$side-space});
  margin-left: -#{$side-space};
  @include media-query($medium){
    width: 110%;
    // transform: none;
    margin: 3em 0;
    margin-left: -10%;
    max-width: unset;
    //box-shadow: 0 0 150px -20px rgba(0,0,0,.3);
    //box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
}

p:not(.two) .image_frame {
  @include media-query($medium){
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
}

.no_caption {
  margin: 2em 0;
  @include media-query($medium){
    margin: 3em 0;
    //box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  };
}

.block_element {
  margin: 2em 0;
  position: relative;
  text-align: center;
  @include media-query($medium){
    width: 110%;
    margin: 3em 0;
    margin-left: -10%;
  }
  img[class^="lock_"] {
    @include media-query($medium){
      float: right;
    }
  }
  .image_frame {
    width: unset;
    margin: 0;
    @include media-query($medium){
      float: right;
    }
  }
  .clear-float {
    clear: both;
    display: block;
  }
}

.bk-blog-content span.sidenote span.sidenote__toggle {
  color: $accent-two;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  @include align-items(center);
  &:after {
    content: '\f27a';
    display: none;
    font-family: "Font Awesome 5 Solid";
  }
  svg {
    font-size: 0.7rem;
    margin-left: 5px;
    color: $accent-two;
  }
}

.bk-blog-content span.sidenote:not(.inline) span.sidenote__toggle svg {
  @include media-query($medium){
    display: none;
  };
}

// .bk-blog-content span.sidenote:not(.inline) span.sidenote__toggle {
//   @include media-query($medium){
//     cursor: default;
//     &:after {
//       display: none;
//     }
//   }
// }

.bk-blog-content span.sidenote span.sidenote__note {
  padding: 20px;
  margin: 5px 0;
  display: none;
  background: $main-color;
}

.bk-blog-content span.sidenote:not(.inline) span.sidenote__note,
.bk-blog-content .image_caption {
  @include media-query($medium){
    position: absolute;
    display: inline-block;
    width: calc(33% - 40px);
    right: 100%;
    padding: 10px 0 0 10px;
    margin-right: 20px;
    background: none;
    &:before,
    &:after {
      position: absolute;
      background: $accent-two;
    }
    &:after {
      content: '';
      top: 0;
      right: 0;
      width: calc(100%);
      height: 1px;
    }
    &:before {
      content: "Note";
      font-size: 0.7rem;
      color: $main-color;
      padding: 1px 6px;
      top: 0;
      right: 0;
      transform: translateY(-100%);
    }
  };
}

.bk-blog-content span.sidenote.active span.sidenote__note {
  display: block;
}

.bk-blog-content span.sidenote span.sidenote__note,
.bk-blog-content .image_caption {
  &, p, em, a {
  line-height: 1.2rem;
  font-size: 0.85rem;
  color: $accent-two;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;
  }
  a {
    @include pure-link($accent-two);
    @include underline($accent-two, $main-color);
    word-wrap: break-word;
  }
}

.bk-blog-content span.sidenote:not(.inline) span.sidenote__note,
.bk-blog-content span.sidenote:not(.inline) span.sidenote__note p,
.bk-blog-content span.sidenote:not(.inline) span.sidenote__note em,
.bk-blog-content span.sidenote:not(.inline) span.sidenote__note a {
  @include media-query($medium){
    text-align: right;
  };
}

.bk-blog-content span.sidenote span.sidenote__note a {
  @include underline($accent-two, $main-color);
  &:after {
    content: none;
  }
}

.bk-blog-content span.sidenote.left,
.bk-blog-content .image_caption {
  @include media-query($medium){
    padding: 10px 10px 0 0;
    left: 100%;
    margin-left: 20px;
    margin-right: unset;
    &:after {
      left: 0;
    }
    &:before {
      content: "Note";
      left: 0;
      right: unset;
      transform: translateY(-100%);
    }
  };
}


.bk-blog-content .image_caption {
  margin: 20px auto 0;
  max-width: 70%;
  .image_title {
    margin-bottom: 5px;
    p, a, em {
      font-weight: 500;
      line-height: 1rem;
      text-align: center;
    }
  }

  .image_source {
    p, a, em {
      font-size: 0.75rem;
      line-height: 0.9rem;
      text-align: center;
    }
  }
  @include media-query($medium){
    top: 0;
    width: calc(30% - 40px);
    margin: unset;
    margin-left: 20px;
    &:before {
      content: "Img";
    }
    .image_title, .image_source {
      p, a, em {
        text-align: left;
      }
    }
  };
}

a.btn {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  background: none;
  background-color: $dark-color;
  color: white;
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 23px;
  text-shadow: none;
  margin: 10px 0;
  margin-right: 5px;
}
