// defaults for BLOG
// navigation
.bk-burger {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  @include media-query($xtra-small) {
    width: 35px;
    height: 35px;
  };
  .bk-burger-line {
    background-color: $dark-color;
    height: 2px;
    width: 25px;
    position: absolute;
    top: calc(50% - 1px);
    transition: transform 0.4s ease-in-out, margin 0.4s ease-in-out, background-color 0.4s ease-in-out 0.4s;
    &:first-of-type {
      margin-top: 4px;
    }
    &:last-of-type {
      margin-top: -4px;
    }
    @include media-query($xtra-small) {
      width: 35px;
      &:first-of-type {
        margin-top: -6px;
      }
      &:last-of-type {
        margin-top: 6px;
      }
    };
  }
}

.bk-blog-nav--frame {
  padding: 100px 0 0;
  width: 100%;
  z-index: 100;
  position: relative;
  @include media-query($xtra-small){
    padding: 100px 0 0;
  };
}

.bk-blog-nav {
  @include display_flex;
  @include align-items(center);
  @include justify-content(space-between);
  width: calc(100% - 60px);
  padding: 0 30px;
  height: 70px;
  //background-color: white;
  svg {
    width: 25px;
    height: 25px;
    transition: all 0.4s ease-in-out 0.6s;
  }
  &.stuck {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    //transition: background 0.4s ease-in-out 0.6s;
    &.active {
      // background: none;
      // transition: background 0.4s ease-in-out 0s;
    }
  }
  @include media-query($xtra-small){
    padding: 30px 60px 30px;
    width: calc(100% - 120px);
    height: auto;
    svg {
      width: 50px;
      height: 50px;
    }
  };
  @include media-query($medium){
    padding: 30px 120px 30px 60px;
    width: auto;
    svg {
      width: 50px;
      height: 50px;
    }
  };
}

.bk-blog {
  background-color: rgb(239, 239, 239);
  min-height: 800px;
  width: 100%;
  position: relative;
  //z-index: -1; // --> otherwise zoom won't work
  // overflow: hidden; // --> otherwise zoom won't work
  border-bottom: 1px solid $slightly-darker;
  @include display_flex;
  flex-direction: column;
  &__navigation {
    width: 100%;
    position: absolute;
    z-index: 1;
    &.stuck {
      position: fixed;
      top: 55px;
      @include media-query($xtra-small) {
        top: 100px
      }
    }
    @include media-query($medium) {
      position: relative;
    }
  }
  &__content {
    margin: 0 auto;
    padding: 20px 30px 50px;
  }
  @include media-query($xtra-small){
    &__content {
      padding: 80px 60px 50px;
    }
  };
  @include media-query($medium){
    flex-direction: row;
    &__navigation {
        display: block;
        width: calc(100% / 3);
    }
    &__content {
      padding: 100px 0px 50px;
      width: calc(100% / 3 * 2);
    }
  };
};

.overview-posts {
  margin: 50px 0;
  &:first-of-type {
    margin-top: 0;
  }
  h1.posts-title {
    max-width: 100%;
    padding: 0;
    margin: 0;
    line-height: 0.9em;
  }
  a.blog-posts--title {
    display: inline-block;
    margin: 20px 0 20px 0;
  }
  .bk-sub_title {
    margin-bottom: 5px;
  }
  p:last-of-type {
    margin-bottom: .5em;
  }
  a.link {
    color: $blog-font-color;
    font-size: 0.8rem;
    position: relative;
    display: inline-block;
    font-family: $reading;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      background: $blog-font-color;
    }
    &:after {
      content: none;
    }
  }
}

.bk-overview-posts__frame {
  max-width: 750px;
  @include media-query($medium){
    margin-right: 60px;
  }
  .blog-posts--overview-content .intro-frame {
    margin-bottom: 0;
  }
}

.bk-blog-posts__date {
  margin: 0;
  line-height: 1em;
  .true-date {
    display: inline-block;
    width: 100%;
    @include media-query($small){
      display: inline;
      width: auto;
    };
  }
}

.bk-article-title .bk-blog-posts__date {
  margin: 0 0 26px 0;
}

.bk-blog-thumbnail {

  //flex-direction: column;
  width: 100%;

  &__img {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    height: 350px;
  }
  &__content {
    width: 100%;
  }
  @include media-query($medium){
    display: flex;
    flex-direction: row;
    &__img {
      width: 40%;
      margin: 6px 0 6px 0;
      height: unset;
    }
    &__content {
      width: calc(60% - 0px);
      padding-left: 20px;
      p {
        margin: 0;
      }
    }
  };
}

.bk-blog-thumbnail_2 {
  img {
    object-fit: cover;
    float: left;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    height: auto;
    max-height: 300px;
    @include media-query($medium){
      width: 40%;
      height: 207px;
      max-height: unset;
      margin: 8px 20px 8px 0;
    };
  }
}

.bk-blog-posts--tags {
  line-height: 1em;
  margin-bottom: 1em;
}

.bk-blog-posts--tags p {
  margin: 0 0 1em 0;
  padding: 0;
  a {
    border: 1px solid $dark-color;
    border-radius: 20px;
    margin: 0 3px;
    padding: 3px 15px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.bk-overview-posts__border {
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,.1);
  margin-top: 50px;
  @include media-query($medium){
    width: calc(100% - 120px);
  };
}

.overview-posts:last-of-type .bk-overview-posts__border {
  display: none;
}

#blog-nav-dropdown {
  height: 50px;
  cursor: pointer;
  background-color: $darkest-color;
  display: flex;
  align-items: center;
  width: 150px;
  align-items: center;
  justify-content: center;
  @include media-query($medium){
    display: none;
  };
  .blog-nav-inner{
    span {
      margin-right: 10px;
      transition: all .3s;
      transform: rotate(0deg);
    }
  }
  p {
    margin: 0;
  }
}

#blog-nav-dropdown.active .blog-nav-inner span {
  transition: all .3s;
  transform: rotate(-90deg);
}

.bk-blog-sidebar {
  position: relative;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: all .3s;
  p.about {
    max-width: 400px;
    width: 90%;
    padding: 30px 0 0 30px;
    @include media-query($medium) {
      padding: 15px 0 0 0;
      max-width: 250px;
    }
  }
  ul.bk-blog-info {
    list-style: none;
    padding-left: 30px;
    margin: 0;
    &:first-of-type {
      padding: 30px 0 30px 30px;
      background: $main-color;
      margin-bottom: 30px;
      @include media-query($medium) {
        padding: 0;
      }
    }
    &:last-of-type {
      padding: 0;
    }
  }
  .bk_img_small_screen {
    width: 100%;
    img {
      max-width: 700px;
      width: 100%;
      border-radius: 0;
    }
    @include media-query($medium) {
      display: none;
    }
  }
  .bk_img_big_screen {
    display: none;
    img {
      width: 75px;
      height: auto;
      border-radius: 3px;
    }
    @include media-query($medium) {
      display: block;
    }
  }
  &.active {
    height: 100%;
    transition: all .3s;
    overflow: scroll;
  }
  @include media-query($medium) {
    padding: 60px 50px 0 60px;
    flex-direction: row;
    background: none;
    height: auto;
    max-width: 400px;
    ul.bk-blog-info {
      padding: 0;
    }
  }
}

.bk-blog-info-nav li {
  &:nth-of-type(2),
  &:nth-of-type(4),
  &:nth-of-type(5),
  &:last-of-type {
    margin-bottom: 1em;
  }
}

@import
  "article",
  "blog-font",
  "archive",
  "tags"
;
