// social_squares
.social_squares {
  @include display_flex;
  flex-wrap: wrap;
  justify-content: center;
  .social_squares__el {
    border: 1px solid $bb-soft;
    background: white;
    margin: 3px;
    width: 20px;
    height: 20px;
    padding: 4px;
    @include display_flex;
    @include align-items(center);
    @include justify-content(center);
    color: $bb-soft;
    border-radius: 2px;
    svg {
      width: 50%;
    }
  }
}

.social_squares.social_squares__default {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
  display: none;
  @include media-query($xtra-small){
    @include display_flex;
  };
}

.social_squares.black {
  .social_squares__el {
    color: $darkest-color;
    border-color: $darkest-color
  }
}

.social_squares.small {
  .social_squares__el {
    margin: 2px;
    width: 15px;
    height: 15px;
    svg {
      width: 60%;
    }
  }
}

// defaults for BLOG
// navigation
#nav_button {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.bk-menu__line {
  position: absolute;
  height: 2px;
  background: $darkest-color;
  &:nth-of-type(1),
  &:nth-of-type(4) {
    transition: width ease-in-out .4s .4s, top ease-in-out .4s .4s, bottom ease-in-out .4s .4s, background-color ease-in-out .4s .5s, transform ease-in-out .4s;
  }
  &:nth-of-type(1) {
    width: 80%;
    top: 1px;
    transform: translateY(-50%);
  }
  &:nth-of-type(2),
  &:nth-of-type(3) {
    transition: all ease-in-out .4s .5s;
  }
  &:nth-of-type(2) {
    width: 60%;
    top: 34%;
    transform: translateY(-50%);
  }
  &:nth-of-type(3) {
    width: 85%;
    bottom: 34%;
    transform: translateY(50%);
  }
  &:nth-of-type(4) {
    width: 100%;
    bottom: 1px;
    transform: translateY(50%);
  }
}

.bk-blog-nav--frame {
  margin: 100px 0 0;
  width: 100%;
  z-index: 3;
  position: relative;
  // @include media-query($xtra-small){
  //   padding: 100px 0 0;
  // };
}

.bk-blog-nav {
  @include display_flex;
  @include align-items(center);
  @include justify-content(space-between);
  width: calc(100% - 60px);
  padding: 0 30px;
  height: 70px;
  //background-color: white;
  svg {
    width: 25px;
    height: 25px;
    transition: all 0.4s ease-in-out 0.6s;
  }
  &.stuck {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    //box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    //transition: background 0.4s ease-in-out 0.6s;
    &.active {
      // background: none;
      // transition: background 0.4s ease-in-out 0s;
    }
  }
  @media print {
    @include justify-content(center);
  }
  @include media-query($xtra-small){
    padding: 20px 60px 20px;
    @include align-items(stretch);
    width: calc(100% - 120px);
    height: auto;
    svg {
      width: 35px;
      height: 35px;
    }
  };
  @include media-query($medium){
    padding: 30px 120px 30px 60px;
    //padding: 30px 0 30px 60px;
    width: auto;
    @include align-items(stretch);
    svg {
      width: 50px;
      height: 50px;
    }
  };
}

.bk-blog {
  background-color: rgb(239, 239, 239);
  min-height: 800px;
  width: 100%;
  position: relative;
  //z-index: -1; // --> otherwise zoom won't work
  // overflow: hidden; // --> otherwise zoom won't work
  @include display_flex;
  flex-direction: column;
  &__navigation {
    width: 100%;
    position: absolute;
    z-index: 2;
    &.stuck {
      position: fixed;
      top: 70px;
      @include media-query($xtra-small) {
        top: 75px
      }
    }
    @include media-query($medium) {
      position: relative;
      z-index: 0;
    }
  }
  &__content {
    margin: 0 auto;
    padding: 20px 15px 50px;
  }
  @include media-query($xtra-small){
    &__content {
      padding: 80px 60px 50px;
      padding: 0;
      padding-top: 80px;
      width: 85%;
      max-width: 650px;
    }
  };
  @include media-query($medium){
    flex-direction: row;
    &__navigation {
        display: block;
        //width: calc(100% / 3);
        width: unset;
        flex: 0 0 auto;
    }
    &__content {
      padding: 100px 0px 50px;
      max-width: unset;
      width: unset;
      //width: calc(100% / 3 * 2);
      margin: 0;
      flex: 1 1 100%;
    }
  };
};

.overview-posts {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  &:last-of-type {
    margin-bottom: 20px;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: -60px;
    width: 7px;
    height: 7px;
    border: 1px solid $blue-black;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  @include media-query($xtra-small){
    margin: 90px 0;
    &:last-of-type {
      margin-bottom: 90px;
    }
    &:before {
      content: none;
    }
  }
  @include media-query($medium){
    flex-direction: row;
    max-width: 90%;
    margin: 100px auto;
    @include justify-content(center);
  };
  @include media-query($large){
    max-width: 900px;
  };
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    &:before {
      content: none;
    }
  }
  .overview-img {
    height: 200px;
    background: rgba(255,255,255,.5);
    margin-bottom: 20px;
    width: calc(100% + 15px);
    position: relative;
    @include media-query($xtra-small){
      margin-left: 0;
      width: 100%;
      margin-bottom: 0px;
    };
    @include media-query($large){
      position: absolute;
      height: 85%;
      width: 60%;
      left: 0;
      top: 0;
    };
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .thumbnail_img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    .thumbnail_img,
    .thumbnail_img.lazyload,
    .thumbnail_img.lazyloading {
      opacity: 0;
    }
    .thumbnail_img.lazyloaded {
      opacity: 1;
      transition: opacity .6s;
    }

    .thumb_placeholder {
      background-image: url('img/dev/thumb_placeholder_small.png');
      opacity: .5;
    }
    img[src=""] {
      display: none;
    }
    &.overview-img-placeholder {
      display: none;
      @include media-query($xtra-small){
        display: block;
      };
    }
  }
  h1.posts-title {
    max-width: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    @include media-query($small){
      line-height: 1.1em;
    };
  }
  &.bk-draft {
    h1.posts-title {
      color: red;
    }
    .overview-img {
      border: 10px solid red;
      box-sizing: border-box;
    }
  }
  a.blog-posts--title {
    display: inline-block;
    margin: 20px 0 20px 0;
  }
  .bk-sub_title {
    margin-bottom: 5px;
    @include media-query($small){
      margin-bottom: 7px;
    };
  }
  p:last-of-type {
    margin-bottom: .5em;
  }
  a.link {
    color: $blog-font-color;
    font-size: 0.8rem;
    position: relative;
    display: inline-block;
    font-family: $reading;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      background: $blog-font-color;
    }
    &:after {
      content: none;
    }
  }
}

.overview-posts__inner {
  @include display_flex;
  @include direction_column;
  position: relative;
  @include media-query($large){
    @include direction_row;
  };
}

.bk-overview-posts__frame {
  max-width: 750px;
  padding-bottom: 20px;
  @include media-query($xtra-small){
    order: 2;
    padding: 20px 0;
  };
  @include media-query($medium){
    padding: 30px;
  }
  @include media-query($large){
    width: unset;
    max-width: unset;
    padding-right: 60px;
    order: 3;
    background: rgb(255,255,255);
    z-index: 1;
    //margin-top: 5%; bug in firefox not allowed to set percentage values
    margin-top: 40px;
    //box-shadow: 6px 6px 0 0 $overview-accent;
  }
  .blog-posts--overview-content .intro-frame {
    margin-bottom: 0;
  }
}

.overview-posts .read_more-link {
  display: none;
  @include media-query($xtra-small){
    display: block;
  };
  @include media-query($large){
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  };
}

.bk-overview-posts__social {
  @include display_flex;
  margin-left: -15px;
  @include media-query($xtra-small){
    margin-left: 0;
    opacity: 0.4;
  };
  @include media-query($large){
    @include direction_column;
    order: 2;
    // margin-top: 5%; bug in firefox not allowed to set percentage values
    margin-top: 40px;
    margin-left: 30%;
    opacity: 0.9;
  };
  .social__filler {
    background: $overview-accent;
    margin: 2px 1px;
    margin-left: 0;
    width: calc(100% - 35px * 6 - 13 * 1px);
    opacity: 0.4;
    @include display_flex;
    @include align-items(center);
    @include justify-content(center);
    @include media-query($xtra-small){
      background: white;
      width: calc(100% - 40px * 6 - 13 * 1px);
      opacity: 1;
    };
    @include media-query($large){
      height: calc(100% - 40px * 6 - 13 * 1px);
      width: unset;
      margin: 1px 2px;
      margin-top: 0;
    }
  }
  .social_share {
    @include display_flex;
    @include media-query($large){
      @include direction_column;
    };
  }
}

.bk-blog-posts__date {
  margin: 0;
  line-height: 1em;
  .true-date {
    display: inline-block;
    width: 100%;
    @include media-query($small){
      display: inline;
      width: auto;
    };
  }
}

.bk-article-title .bk-blog-posts__date {
  margin: 0 0 26px 0;
}

.bk-blog-posts--tags {
  line-height: 1em;
  margin-bottom: 1em;
}

.bk-blog-posts--tags p {
  margin: 0 0 1em 0;
  padding: 0;
  a {
    border: 1px solid $overview-accent;
    border-radius: 2px;
    margin: 0 2px;
    padding: 4px 15px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

#blog-nav-dropdown {
  height: 50px;
  cursor: pointer;
  background-color: $darkest-color;
  @include display_flex;
  @include align-items(center);
  @include justify-content(center);
  width: 150px;
  position: relative;
  @include media-query($medium){
    display: none;
  };
  .blog-nav-inner{
    @include display_flex;
    @include align-items(center);
    svg {
      margin-right: 10px;
      transition: all .3s;
      transform: rotate(0deg);
      color: $dark-color;
    }
  }
  p {
    margin: 0;
  }
}

// .stuck #blog-nav-dropdown {
//   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
// }

#blog-nav-dropdown.active .blog-nav-inner svg {
  transition: all .3s;
  transform: rotate(-90deg);
}

.bk-blog-sidebar {
  position: relative;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: all .3s;
  p.about {
    max-width: 400px;
    width: 90%;
    padding: 30px 0 0 30px;
    @include media-query($medium) {
      padding: 0;
      padding-left: 30px;
      max-width: 235px;
      margin: 1.2rem 0 10px;
      position: relative;
    }
  }
  ul.bk-blog-info {
    list-style: none;
    padding-left: 30px;
    margin: 0;
    &:first-of-type {
      padding: 30px 0 30px 30px;
      background: $main-color;
      margin-bottom: 30px;
      @include media-query($medium) {
        padding-bottom: 0;
        background: none;
        margin: 0;
        position: relative;
        &:after {
          content: '';
          bottom: 0;
          left: 30px;
          position: absolute;
          background: $darkest-color;
          width: 70px;
          height: 1px;
        }
      }
    }
    &:last-of-type {
      padding: 0;
    }
  }
  .bk_img_small_screen {
    width: 100%;
    img {
      max-width: 700px;
      width: 100%;
      border-radius: 0;
    }
    @include media-query($medium){
      display: none;
    };
  }
  &.active {
    height: 100%;
    transition: all .3s;
    overflow: scroll;
    //box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  @include media-query($medium) {
    @include display_flex;
    @include direction_column;
    height: auto;
    max-width: 300px;
    margin: 100px 70px auto 0;
    background: none;
    .bk-rights {
      order: 3;
    }
  }
}

.bk-blog-info-nav li {
  position: relative;
  &:nth-of-type(2),
  &:nth-of-type(4),
  &:nth-of-type(5),
  &:last-of-type {
    margin-bottom: 1rem;
  }
  a.active:before,
  a:before,
  a:hover:before {
    content: '';
    background: black;
    height: 1px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 101%;
    transition: width ease-in-out 0.2s;
    @include media-query($medium){
      top: 46%;
    };
  }
  a:before {
    width: 0;
    transition: width ease-in-out 0.4s;
  }
}

@import
  "article",
  "blog-font",
  "archive",
  "tags",
  "slider",
  "news",
  "storewindow"
;
