// defaults for BLOG
// navigation
.bk-burger {
  position: relative;
  .bk-burger-line {
    background-color: $dark-color;
    height: 2px;
    width: 35px;
    &:first-of-type {
      margin-bottom: 10px;
    }
    &:last-of-type {
      margin-top: 10px;
    }
  }
}

.bk-blog-nav {
  @include display_flex;
  @include align-items(center);
  @include justify-content(space-between);
  margin: 100px 40px 30px 40px;
  svg {
    width: 40px;
    height: 40px;
  }
  @include media-query($xtra-small){
    margin: 100px 60px 30px 60px;
    svg {
      width: 50px;
      height: 50px;
    }
  };
  @include media-query($medium){
    margin: 100px 120px 30px 60px;
    svg {
      width: 50px;
      height: 50px;
    }
  };
}

.bk-blog-sidebar {
  padding: 60px 50px 0 60px;
  p.about {
    max-width: 200px;
  }
  ul.bk-blog-info {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  img {
    width: 90px;
    height: auto;
    border-radius: 50%;
  }
}

.bk-blog-info-nav li {
  &:nth-of-type(2),
  &:nth-of-type(4),
  &:nth-of-type(5),
  &:last-of-type {
    margin-bottom: 1em;
  }
}

.bk-blog {
  background-color: rgb(239, 239, 239);
  min-height: 800px;
  width: 100%;
  display: flex;
  &__navigation {
      display: none;
  }
  @include media-query($medium){
    &__navigation {
        display: block;
        width: calc(100% / 3);
    }
    &__content {
      display: block;
      width: calc(100% / 3 * 2);
      padding: 80px 0 50px 0;
    }
  };
  .overview-posts {
    margin: 70px 0;
    &:first-of-type {
      margin-top: 0;
    }
    h1.posts-title {
      max-width: 70%;
      padding: 0;
      margin: 0 0 13px 0;
    }
  }
  .bk-overview-posts__frame {
    max-width: 700px;
  }
  .bk-blog-posts__date {
    margin: 0 0 6px 0;
  }
  .bk-blog-thumbnail {
    display: flex;
    width: 100%;
    &__img {
      width: 40%;
      margin: 9px 0 25px 0;
    }
    &__content {
      width: calc(60% - 0px);
      padding-left: 20px;
    }
  }
  .bk-blog-thumbnail_2 {
    img {
      width: 40%;
      height: 181px;
      object-fit: cover;
      float: left;
      margin: 9px 20px 20px 0;
    }
  }
  .bk-blog-posts--tags p {
    margin: 0 0 1em 0;
    padding: 0;
    a {
      border: 1px solid $dark-color;
      border-radius: 20px;
      margin: 0 3px;
      padding: 3px 15px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .bk-overview-posts__border {
    height: 1px;
    width: calc(100% - 120px);
    background-color: $dark-color;
    margin-top: 80px;
  }
  .overview-posts:last-of-type .bk-overview-posts__border {
    display: none;
  }
}
