.bk-gallery {

}

.bk-gallery__container {
  width: calc(100% + 30px);
  margin: 2em 0;
  margin-left: -15px;
  @include media-query($medium){
    width: 110%;
    margin-top: 3em 0;
    margin-bottom: 3em 0 !important;
    margin-left: -10%;
    box-shadow: 0 0 150px -20px rgba(0,0,0,0.3);
  };
}

.bk-gallery .slick-dots {
  bottom: 0;
  li button:before {
    content: '';
    background: $main-color;
    opacity: 0.45;
  }
  li.slick-active button:before {
    opacity: 0.85;
  }
}

.bk-gallery .slick-dots li:before {
  content: none;
}

.bk-gallery__elem {
  position: relative;
  overflow: hidden;
  background: $darkest-color;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
   -webkit-perspective: 1000px; //possible flickering fix mentioned here: https://github.com/kenwheeler/slick/issues/1890
}

.bk-gallery .bk-gallery__elem img {
  max-height: 100%;
  max-width: 100%;
  width: unset;
  margin: 0 auto;
}

.bk-gallery__effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.bk-gallery__controlls {
    position: absolute;
    bottom: 2px;
    z-index: 1;
    right: 2px;
    height: 70px;
    width: 30px;
    background: $dark-color;
    @include media-query($small){
      left: calc(100% + 2px);
      right: unset;
      bottom: 0px;
    };
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 25px;
      width: 2px;
      top:0;
      left: 25%;
      background: white;
    }
    &:before {
      transform: translateY(-100%) rotate(30deg);
      transform-origin: left bottom;
      top: 50%;
    }
    &:after {
      transform: translateY(100%) rotate(-30deg);
      transform-origin: left top;
      bottom: 50%;
      top: unset;
    }
}

.bk-gallery__prev {
  bottom: 74px;
  @include media-query($small){
    bottom: 72px;
  };
  &:before,
  &:after {
    right: 25%;
    left: unset;
  }
  &:before {
    transform: translateY(-100%) rotate(-30deg);
    transform-origin: right bottom;
    top: 50%;
  }
  &:after {
    transform: translateY(100%) rotate(30deg);
    transform-origin: right top;
  }
}
