.bk-blog__tags {
  //margin: 0;
  @media(max-width: 575px){
    padding: 20px 30px 50px;
  }
  @include media-query($medium){
    margin: 0 auto;
    .bk-blog__archive__inner {
      width: 80%;
    }
  };
}

#tags {
  display: flex;
  margin: 30px 0 100px;
}

.tags__alphabet {
  margin-right: 30px;
  cursor: default;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.tags__content {
  @include media-query($small){
    width: 100%;
    max-width: 80%;
  }
}

.tags__element {
    margin-top: 0px;
    margin-bottom: 50px;
}

#tags h3:after {
  content: '';
  width: 150px;
  height: 1px;
  background-color: $blog-font-color;
  position: absolute;
  left: 30px;
  top: 50%;
}

.bk__tags {
  margin-left: 20px;
}

.bk__tags a {
  border: 1px solid $overview-accent;
  display: inline-block;
  border-radius: 2px;
  margin: 3px 6px 3px 0;
  padding: 4px 15px;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}
