---
---
@import "defaults";
.body {
  margin: 0;
}

.article-author-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: $dark-color;
}

.bk-article-title .article-author-id h4 {
  line-height: 1em;
}

.bk-article-title__row:last-of-type {
  margin-bottom: -90px;
}

.bk-blog-style a {
  text-decoration: none;
}
