<section class="bk-blog bk-article" id="bk-timeline">
  <div class="timeline__inner">
    <div class="bk-timeline-main" data-scroll="toggle(.fromBottomIn, .fromBottomOut) once">

      <div class="bk-timeline-content bk-blog-style bk-static-style bk-sec bk-sec__dark">
        <div class="bk-sec__intro">
          <h2>My Timeline</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>

        <div class="bk-tl__frame">
        {% for company in page.timeline %}

            <div class="bk-tl_element">
              <div class="bk-tl_el__title">
                <p class="bk-tl-date bk-tl__space">{% unless company.to_date %}since {% endunless %}{{ company.from_date }}{% if company.to_date %} — {% endif %}{{ company.to_date }}</p>
                <h3 class="bk-tl-title">{{ company.name }}</h3>
                {% if company.position %}
                <p class="bk-tl-position bk-tl__space">{{ company.position }}</p>
                {% endif %}
              </div>
              <div class="bk-tl_el__content bk-tl__space">
                <div class="bk-tl_line"></div>
                {% if company.info %}
                <p class="bk-tl-info">{{ company.info }}</p>
                {% endif %}
                {% if company.website %}
                  <p class="bk-tl-info"><a href="{{ company.website.url }}">{{ company.website.text }}</a></p>
                {% endif %}
                {% if company.description %}
                <p>{{ company.description }}</p>
                {% endif %}
                {% if company.bullets %}
                <ul class="bk-tl_bullets">
                  {% for bullet in company.bullets %}
                  <li>{{ bullet }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>

        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="timline__expansion_bar" id="timline__expansion_bar">
    <p><i class="fas fa-chevron-right" data-fa-transform="shrink-3"></i>Show more</p>
  </div>
</section>
