<section class="bk-blog bk-article bk-about">
  <div class="bk-side-space bk-article__nav">
    {% include _pseudo-nav_title.html %}
  </div>

  <div class="bk-static-about__frame">

    <div class="bk-about__intro">
      <p class="sub">About me</p>
      <h1>Bastian Kroggel.</h1>
      <p class="desc">{{ page.first_impression }}</p>
    </div>
    <div class="bk-blog__intro_img">
      <div class="intro_img">
        <p class="intro_sub bk-sub">{{page.header.subtitle}}</p>
        <p class="headline">{{page.header.title}}</p>
      </div>
      <div class="static-intro__bk-name">
        {% include  svg/_icon.html %}
        {% include  svg/_name.html %}
      </div>
      <div class="photographer_info">
        <p class="bk-sub">{{page.header.img.title}}</p>
        <p class="bk-sub">{{page.header.img.photographer}}</p>
      </div>
      <div class="bg_image lazyload" data-bg="{{page.header.img.url}}"></div>
    </div>

  </div>

</section>

<section class="bk-blog-style bk-sec">
    <div id="about-toc" class="bk-blog-style bk-static-style bk-blog-content bk-sec__width">
      <ul>
        <li class="bk-sub">About</li>
        <li id="intro_link">
          <a href="#bk-about-introduction" bk-scroll>Introduction</a>
          <div class="link_line"></div>
        </li>
        <li> <a href="#about-me" bk-scroll>About me</a> </li>
        <li> <a href="#bk-timeline" bk-scroll>Timeline + CV</a> </li>
        <li> <a href="#news" bk-scroll>News and Thoughts</a> </li>
        <li> <a href="#contact" bk-scroll>Social Media + Contact</a> </li>
      </ul>
      <p class="about">
        {{ page.toc_about }}
      </p>
    </div>
    <div class="bk-sec__ending">
      <div class="sec__num sec__info">
        <p>01 / 06</p>
      </div>
      <div class="sec__title sec__info">
        <p class="bk-sub">Intro</p>
      </div>
    </div>
</section>

<section class="bk-blog-style bk-sec__yellow bk-sec bk-sec__two" id="bk-about-introduction">
  <div id="anchor">
    <div class="anchor__el"></div>
    <div class="anchor__line"></div>
  </div>
  <div class="bk-sec__inner bk-sec__width">
    <h2>About Site</h2>
    <div class="bk-sec__text_frame">
      {{ page.intro | markdownify }}
      <div class="bk-sec__sign">
        {% include svg/_sign.html %}
      </div>
    </div>
  </div>
  <div class="bk-sec__ending">
    <div class="sec__num sec__info">
      <p>02 / 06</p>
    </div>
    <div class="sec__title sec__info">
      <p class="bk-sub">About Site</p>
    </div>
  </div>
</section>

<section class="bk-blog-style bk-sec bk-sec__center" id="about-me">
  <div class="bk-sec__inner">
    <div class="bk-sec__img">
      <img data-src="/assets/img/dev/bk_high.jpg" alt="Bastian Kroggel" class="lazyload">
    </div>
    <div class="bk-sec__text bk-sec__width">
      <h2>About Bastian</h2>
      <div class="bk-sec__text_frame">
        {{ page.about | markdownify }}
        <div class="bk-sec__quote">
          <p class="bk-sub">{{ page.quote.author }}</p>
          <p class="main_quote">{{ page.quote.text }}</p>
        </div>
        <div class="bk-sec__logo">
          {% include svg/_icon.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="bk-sec__ending">
    <div class="sec__num sec__info">
      <p>03 / 06</p>
    </div>
    <div class="sec__title sec__info">
      <p class="bk-sub">About Bastian</p>
    </div>
  </div>
</section>
