<section id="contact" class="bk-sec bk-blog-style">

  <div class="bk-sec__intro_frame">
    <div class="bk-sec__intro">
      <h2>Get in touch<br>with me</h2>
      <p>For all your inquiries, questions, annotation and anecdotes or just to let me know things are not working properly feel free to leave me a message.<br>I am more than happy to hear from you and in case you were wondering how to get in touch with me, you can find three possible connection points below.</p>
    </div>
  </div>

  <div class="bk-social__frame">
    <div class="bk-social__el" id="twitter">
      <p href="{{ page.contact.twitter.link.url }}">
        <span class="fab fa-twitter"></span>
      </p>
    </div>
    <div class="bk-social__divider"></div>
    <div class="bk-social__el" id="linkedin">
      <p href="{{ page.contact.linkedin.link.url }}">
        <span class="fab fa-linkedin-in"></span>
      </p>
    </div>
    <div class="bk-social__divider"></div>
    <div class="bk-social__el" id="email">
      <p href="{{ page.contact.email.link.url }}">
        <span class="far fa-envelope"></span>
      </p>
    </div>
    <div class="bubble__indicator"></div>
  </div>

  <div class="bk-social__bubble" id="bubble_trigger">
    <div class="bubble__inner bubble__twitter" data-bubble="twitter">
      <h2>Twitter</h2>
      <p>{{ page.contact.twitter.desc }}</p>
      <a href="{{ page.contact.twitter.link.url }}" class="btn" style="background: #1da1f2">{{ page.contact.twitter.link.text }}</a>
    </div>
    <div class="bubble__inner bubble__linkedin" data-bubble="linkedin">
      <h2>LinkedIn</h2>
      <p>{{ page.contact.linkedin.desc }}</p>
      <a href="{{ page.contact.linkedin.link.url }}" class="btn" style="background: #0077b5">{{ page.contact.linkedin.link.text }}</a>
    </div>
    <div class="bubble__inner bubble__email" data-bubble="email">
      <h2>Email</h2>
      <p>{{ page.contact.email.desc }}</p>
      <a href="{{ page.contact.email.link.url }}" class="btn">{{ page.contact.email.link.text }}</a>
    </div>
  </div>

  <div class="bk-sec__ending">
    <div class="sec__title sec__info">
      <p class="bk-sub">Contact</p>
    </div>
  </div>
</section>

<!-- <section class="bk-blog-style bk-sec bk-sec__center bk-about-quote">
  <div class="bk-sec__inner">
    <p class="bk-sub">{{ page.quote.author }}</p>
    <p class="main_quote">{{ page.quote.text }}</p>
  </div>
  <div class="bk-sec__ending">
    <div class="sec__num sec__info">
      <p class="current">07</p>
      <p>/</p>
      <p class="all">07</p>
    </div>
    <div class="sec__title sec__info">
      <p class="bk-sub">Quote</p>
    </div>
  </div>
</section> -->
