<section id="social" class="bk-sec bk-blog-style">

  <div class="bk-sec__intro_frame">
    <div class="bk-sec__intro">
      <h2>Get in touch<br>with me</h2>
      <p>For all your inquiries, questions, annotation and anecdotes or just to let me know things are not working properly feel free to leave me a message. I am more than happy to hear from you and in case you were wondering how to get in touch with me, you can find three possible connection points below.</p>
    </div>
  </div>

  <div class="bk-cards__frame">

    <div class="bk-card">
      <div class="bk-card__title">
        <div class="icon">
          <span class="fab fa-twitter"></span>
        </div>
        <h3>Twitter</h3>
      </div>
      <div class="bk-card__content">
        <div class="bk-card__text">
          <p>{{ page.contact.twitter.desc }}</p>
        </div>
        <div class="bk-card__action">
          <a href="{{ page.contact.twitter.link.url }}">
            <p>{{ page.contact.twitter.link.text }}</p>
          </a>
        </div>
      </div>
    </div>

    <div class="bk-card">
      <div class="bk-card__title">
        <div class="icon">
          <span class="fab fa-linkedin-in"></span>
        </div>
        <h3>LinkedIn</h3>
      </div>
      <div class="bk-card__content">
        <div class="bk-card__text">
          <p>{{ page.contact.linkedin.desc }}</p>
        </div>
        <div class="bk-card__action">
          <a href="{{ page.contact.linkedin.link.url }}">
            <p>{{ page.contact.linkedin.link.text }}</p>
          </a>
        </div>
      </div>
    </div>

    <div class="bk-card">
      <div class="bk-card__title">
        <div class="icon">
          <span class="far fa-envelope"></span>
        </div>
        <h3>eMail</h3>
      </div>
      <div class="bk-card__content">
        <div class="bk-card__text">
          <p>{{ page.contact.email.desc }}</p>
        </div>
        <div class="bk-card__action">
          <a href="{{ page.contact.email.link.url }}">
            <p>{{ page.contact.email.link.text }}</p>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="bk-sec__ending">
    <div class="sec__num sec__info">
      <p class="current">06</p>
      <p>/</p>
      <p class="all">07</p>
    </div>
    <div class="sec__title sec__info">
      <p class="bk-sub">Contact</p>
    </div>
  </div>
</section>

<section class="bk-blog-style bk-sec bk-sec__center">
  <div class="bk-sec__inner">
    <p class="bk-sub">{{ page.quote.author }}</p>
    <p class="main_quote">{{ page.quote.text }}</p>
  </div>
  <div class="bk-sec__ending">
    <div class="sec__num sec__info">
      <p class="current">07</p>
      <p>/</p>
      <p class="all">07</p>
    </div>
    <div class="sec__title sec__info">
      <p class="bk-sub">Quote</p>
    </div>
  </div>
</section>
