footer {
  position: relative;
}

.bk-footer-1 {
  display: flex;
  @include justify-content(space-between);
  padding: 0 5%;
  background: $dark-color;
  flex-wrap: wrap;
  @include media-query($small){
    flex-wrap: nowrap;
  }
}

.bk-footer-1__shadow {
  width: 110%;
  height: 20px;
  position: absolute;
  left: -5%;
  box-shadow: inset 0 10px 10px -10px rgba(130,130,130, .7);
}

.bk-footer-2 {
  background-color: rgb(130,130,130);
  text-align: center;
  padding: 7px 0;
}

.bk-footer-1__sec1 {
  width: 50%;
  order: 4;
  @include media-query($small){
    width: 25%;
    order: 1;
  };
}

.bk-footer-1__sec1,
.bk-footer-1__sec3 {
  @include display_flex;
  @include direction_column;
}

.bk-footer-1__sec1__top,
.bk-footer-1__sec3__top {
  //height: calc(100% - 45px);
  position: relative;
  @include display_flex;
  @include align-items(center);
  flex-grow: 2;
}

.bk-footer-1__sec3__top {
  @include justify-content(flex-end);
  //height: calc(100% - 36px);
}

.bk-footer-1__sec1__top ul,
.bk-footer-1__sec3__top ul {
  list-style: none;
  padding: 0;
}

.bk-footer-1__sec1__top ul {
  margin:0 0 0 10px;
}
.bk-footer-1__sec3__top ul {
  margin:0 10px 0 0;
  text-align: right;
}

.bk-footer-logo {
  height: 45px;
  @include display_flex;
  @include align-items(center);
  @include media-query($small){
    transform: translateX(-12.5px);
  };
}

.bk-footer-logo {
  svg {
    width: 25px;
    height: 25px;
    fill: white;
  }
  &>svg:last-of-type {
    width: 130px;
    height: 10px;
    margin-left: 10px;
  }
}

.footer-line {
  width: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
}

.bk-footer-1__sec1__top .footer-line {
  margin-left: 0px;
}

.bk-footer-1__sec3__top .footer-line {
  right: 0;
  margin-right: 0px;
}

.bk-footer-1__sec2 {
  width: calc(100% - 66px);
  max-width: 400px;
  @include display_flex;
  @include direction_column;
  @include align-items(center);
  padding: 40px 0;
  order: 2;
  @include media-query($small){
    width: 50%;
  };
}

.bk-footer-1__sec3 {
  width: 50%;
  order: 5;
  @include media-query($small){
    width: 25%;
  };
}

.bk-footer-1__social {
  margin: 30px 0;
}

.bk-footer-1__social p {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    border: 1px solid white;
    border-radius: 20px;
    margin: 3px;
    padding: 3px 15px;
  }
  @include media-query($small){
    display: block;
  };
}

.bk-footer__acknowledgement {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 10px 0;
  width: auto;
}

.bk-footer-1__mobile-line {
  display: flex;
  &.bk-footer-1__left-line {
    border-right: 1px solid white;
    order: 1;
  }
  &.bk-footer-1__right-line {
    border-left: 1px solid white;
    order: 3;
  }
  @include media-query($small){
    display: none;
  }
}
