// navigation css

.bk-hor-nav {
  position: relative;
  float: right;
  ul {
    margin: 0;
    padding: 0;
    height: 30px;
    @include display_flex;
    @include align-items(center);
  }
  li {
    margin: 0 2em;
    height: 100%;
    display: none;
    align-items: center;
    &:first-of-type {
      margin: 0 20px 0 0;
    }
    &:last-of-type {
      margin: 0 0 0 60px;
      display: flex;
    }
    @include media-query($medium){
      display: flex;
    }
  }
}
