section.pic-break {
  background: url('img/dev/markus-spiske-104895.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 125px 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
  @include display_flex;
  @include justify-content(center);
  @include align-items(center);
  @include media-query($small){
    padding: 150px 0;
  };
}

section.pic-break {

}

.frame-line {
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    background: $main-color;
  }
  &:before {
    left: 5%;
  }
  &:after {
    right: 5%;
  }
}

.pic-break__credits {
  position: absolute;
  right: 6px;
  bottom: 10px;
  opacity: 0.5;
  transform: rotate(-90deg) translateX(100%);
  transform-origin: bottom right;
  p {
    margin: 0;
  }
}

.pic__style-el {
  height: 100%;
  background: $main-color;
  position: absolute;
  top: 0;
}

$skew_1: -20;
$skew_2: 25;

.pic__style-el-1 {
  width: 80%;
  left: 0;
  opacity: 0.4;
  transform: skewY(#{$skew_1 * 1.8}deg) translateY(-100%);
  transform-origin: bottom right;
  @include media-query($small){
    transform: skewY(#{$skew_1 * 1.5}deg) translateY(-100%);
  };
  @include media-query($medium){
    transform: skewY(#{$skew_1}deg) translateY(-100%);
  };
}

.pic__style-el-2 {
  width: 60%;
  right: 0;
  opacity: 0.8;
  z-index: 3; // workaround for safari, where it looked like something cut off the triangle
  transform: skewY(#{$skew_2 * 1.8}deg) translateY(-100%);
  transform-origin: bottom left;
  @include media-query($small){
    transform: skewY(#{$skew_2 * 1.5}deg) translateY(-100%);
  };
  @include media-query($medium){
    transform: skewY(#{$skew_2}deg) translateY(-100%);
  };
}

.pic__style-diagonal {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
}

$skew_diag: 3;

.pic__style-diagonal-1 {
  transform-origin: bottom left;
  z-index: 3;
  background: $main-color;
  &:before, &:after {
    background: $slightly-darker;
  }
  transform: skewY(#{$skew_diag * 1.8}deg) translateY(-100%);
  @include media-query($small){
    transform: skewY(#{$skew_diag * 1.5}deg) translateY(-100%);
  };
  @include media-query($medium){
    transform: skewY(#{$skew_diag}deg) translateY(-100%);
  };
}

.pic__style-diagonal-2 {
  transform-origin: bottom right;
  z-index: 1;
  //background: $dark-color;
  background: $blue-black;
  top: 100%;
  transform: skewY(#{$skew_diag * 1.8}deg);
  @include media-query($small){
    transform: skewY(#{$skew_diag * 1.5}deg);
  };
  @include media-query($medium){
    transform: skewY(#{$skew_diag}deg);
  };
  &.frame-line {
    &:before,
    &:after {
      background: $bb-soft;
    }
  }
}

.pic-break__author {
  width: calc(90% - 64px);
  max-width: 300px;
  @include display_flex;
  @include align-items(center);
  @include direction_column;
}

.luzid_element {
  @include display_flex;
  @include direction_column;
  text-align: center;
  @include media-query($small){
    transform: translateX(calc(50% + 5px));
    @include direction_row;
    text-align: unset;
  };
}

.luzid_el__title {
  margin-bottom: 15px;
  position: relative;
  // &:before {
  //   content: '';
  //   background: white;
  //   height: 1px;
  //   width: 100%;
  //   position: absolute;
  //   bottom: -5px;
  //   left: 0;
  // }
  @include media-query($small){
    margin-bottom: unset;
    text-align: right;
    position: absolute;
    transform: translateX(calc(-100% - 10px));
    &:before {
      content: '';
      background: white;
      height: 170px;
      width: 1px;
      position: absolute;
      top: 110%;
      left: unset;
    }
  };
}

.pic-break__img {
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  height: 120px;
  width: 120px;
  background: $main-color;
  img {
    border-radius: 50%;
    transform: scale(0.9);
  }
}
