.bk-blog-nav--static nav {
  border-bottom: none;
}

.bk-blog__static {
  margin: 150px auto 100px;
  @include media-query($medium){
    margin: 100px auto;
  };
}
.bk-static-style {
  padding: 0;
  max-width: 650px;
  position: relative;
  padding: 0 15px;
  @include media-query($medium){
    padding: 0 0 0 9rem;
  };
  &:before {
    content: attr(before);
    position: absolute;
    transform: translateY(-115%);
    transform-origin: right top;
    white-space: nowrap;
    font-size: 15vw;
    left: 15px;
    line-height: 0.8em;
    @include media-query($small){
      font-size: 12vw;
    };
    @include media-query($medium){
      transform: rotate(270deg) translateY(1rem);
      top: 0;
      left: unset;
      right: 100%;
      font-size: 7rem;
      line-height: 1em;
    };
  }
}

.bk-static-style:before {
  font-family: $reading;
  color: $slightly-darker;
  text-transform: lowercase;
  margin-bottom: 0;
  letter-spacing: 0;
  font-weight: 700;
}

.bk-static-style {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    + p {
      margin-top: 0;
    }
  }
}

.vertical-blog-link__static svg {
  width: 168px;
}

.bk-static-style>p:first-of-type:first-letter {
    font-family: $reading;
    font-weight: 300;
    line-height: 1.9em;
    font-size: .952rem;
    letter-spacing: 0.015em;
    margin-right: 0px;
    float: none;
    margin-bottom: 0px;
}

// new image frame position if width less than 1200 because padding left
.bk-static-style .image_caption {
  @media screen and (max-width: 1200px) and (min-width: $medium){
    right: 5px;
    left: unset;
    top: unset;
    bottom: 5px;
    text-align: right;
    border: none;
  };
}

// bk-timeline

#bk-timeline {
  background: #5a5a5a;
  margin: 5px;
  padding: 100px 0;
  width: calc(100% - 10px);
}

// #bk-timeline .bk-article-main {
//   @include align-items(center);
// }

.bk-timeline-content {
  margin-top: 0;
  margin-bottom: 0;
  //padding: 0;
  @include display_flex;
  @include direction_column;
  @include align-items(center);
  @include media-query($medium){
    display: block;
  };
}

.bk-static-style .luzid_element {
  @include media-query($small){
    transform: translateX(calc(75px));
  };
  .luzid_el__title {
    z-index: 1;
    &:before {
      height: 110%;
      top: 0;
      right: -2px;
      width: 3px;
      background: #5a5a5a;
    }
  }
  .luzid_el__content {
    margin-bottom: 70px;
    max-width: 430px;
    position: relative;
    @include media-query($small){
      padding-bottom: 70px;
      margin-bottom: 0;
    };
    &:before {
      content: '';
      background: white;
      position: absolute;
      top: 105%;
      height: calc(70px - 10%);
      width: 1px;
      @include media-query($small){
        height: 100%;
        left: -10px;
        top: 0;
      };
    }
    p.luzid-info {
      max-width: 80%;
    }
  }
}

$clock-color: white;

.clock-icon {
  position: relative;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid $clock-color;
  margin: 40px 0;
  @include media-query($small){
    align-self: flex-start;
    transform: translateX(calc(-50% + 176px));
  };
  &:before,
  &:after {
    position: absolute;
    height: 30px;
    width: 1px;
    background: white;
    left: 50%;
  }
  &:before {
    bottom: calc(100% + 7px);
  }
  &:after {
    top: calc(100% + 7px);
    content: '';
  }
  @include media-query($medium){
    transform: translateX(calc(-50% + 65px));
    &:before {
      content: '';
    }
  };
  .top {
    position: absolute;
    width: 1px;
    height: 3px;
    background: $clock-color;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .right {
    position: absolute;
    width: 3px;
    height: 1px;
    background: $clock-color;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
  }
  .bottom {
    position: absolute;
    width: 1px;
    height: 3px;
    background: $clock-color;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .left {
    position: absolute;
    width: 3px;
    height: 1px;
    background: $clock-color;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
  }
  .center {
    height: 3px;
    width: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: $clock-color;
    border-radius: 50%;
  }
  .hour {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(300deg);
    &:before {
      position: absolute;
      content: "";
      background: $clock-color;
      height: 8px;
      width: 1px;
      top: 7px;
    }
  }
  .minute {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(60deg);
    &:before {
      position: absolute;
      content: "";
      background: $clock-color;
      height: 13px;
      width: 1px;
      top: 2px;
    }
  }
}
