<section class="pic-break frame-line">
  <div class="pic__style-el pic__style-el-1"></div>
  <div class="pic__style-el pic__style-el-2"></div>
  <div class="pic__style-diagonal pic__style-diagonal-1"></div>

  <div class="bk-card bk-card--wide">
    <div class="bk-card__title lazyload" data-bg="{{site.data.author.['Bastian Kroggel'].big_img}}">
      <h3>Bastian Kroggel</h3>
      <div class="icon">
        {% include svg/_icon.html %}
      </div>
    </div>
    <div class="bk-card__content">
      <div class="bk-card__text">
        <p>{{site.data.author.['Bastian Kroggel'].info}}</p>
      </div>
      <div class="bk-card__action">
        <a class="card-action" href="/about">Read more</a>
      </div>
    </div>
  </div>


  <div class="pic-break__credits">
    <p>image by <a href="https://unsplash.com/@markusspiske">Markus Spiske</a></p>
  </div>
  <div class="pic-break__bg lazyload" data-bg="/assets/img/dev/markus-spiske-104895.jpg">

  </div>
</section>
