<section class="pic-break frame-line">
  <div class="pic__style-el pic__style-el-1"></div>
  <div class="pic__style-el pic__style-el-2"></div>
  <div class="pic__style-diagonal pic__style-diagonal-1 frame-line"></div>
  <div class="pic__style-diagonal pic__style-diagonal-2 frame-line"></div>

  <div class="pic-break__author" data-scroll="toggle(.fromBottomIn, .fromBottomOut) once">
    <div class="pic-break__img">
      <img src="{{site.data.author.['Bastian Kroggel'].img}}" alt="Bastian Kroggel">
    </div>
    <div class="luzid_element">
      <div class="luzid_el__title">
        <p>Bastian</p>
        <p>Kroggel</p>
      </div>
      <div class="luzid_el__content">
        <p>{{site.data.author.['Bastian Kroggel'].info}}</p>
        <a class="link link_button -small -white" href="/about">About me</a>
      </div>
    </div>
  </div>


  <div class="pic-break__credits">
    <p>image by <a href="https://unsplash.com/@markusspiske">Markus Spiske</a></p>
  </div>
</section>
