{% capture social-title %}{% if page.title %}{{ page.title | strip_html | strip_newlines | strip }}{% else %}{{ site.title | strip_html | strip_newlines | strip }}{% endif %}{% endcapture %}

{% capture social-img %}{% if page.thumbnail.img %}{{ page.thumbnail.img | prepend: site.url }}{% else %}{{site.url}}/assets/img/dev/main_social_img.jpg{% endif %}{% endcapture %}

{% capture social-desc %}{% if page.meta.description %}{{ page.meta.description | strip_html | strip_newlines | strip | truncate: 158 }}{% elsif page.showcase %}{{ page.showcase | strip_html | strip_newlines | strip | truncate: 158 }}{% elsif page.thumbnail.overview %}{{ page.thumbnail.overview | strip_html | strip_newlines | strip | truncate: 158 }}{% else %}{{ site.description | strip_html | normalize_whitespace | strip_newlines | strip | truncate: 158 }}{% endif %}{% endcapture %}

{% capture social-url %}{{ page.url | prepend: site.url }}{% endcapture %}

{% capture social-author %}{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}{% endcapture %}

{% capture social-language %}{% if page.tags contains 'english' %}en_US{% else %}de_DE{% endif %}{% endcapture %}

{% capture social-date %}{% if page.date %}{{ page.date | date_to_xmlschema }}{% endif %}{% endcapture %}



<!-- Facebook -->
<meta property="og:url" rel="publisher" name="twitter:url" content="{{social-url}}">
<meta property="og:type" content="website">
<meta property="og:title" itemprop="name" name="twitter:title" content="{{ social-title }}">
<meta property="og:image" itemprop="image" name="twitter:image" content="{{ social-img }}">
<meta property="og:description" itemprop="description" name="description" content="{{ social-desc }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ social-language }}">
<meta property="article:author" content="{{social-author}}">
{% if page.date %}
<meta name="article-published_time" property="article:published_time" content="{{social-date}}">
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{site.twitter}}">
<meta name="twitter:creator" content="@{{site.data.author.[social-author].twitter}}">
<meta name="twitter:description" content="{{ social-desc }}">

<!-- Google+ / Schema.org -->
<link rel="author" href="humans.txt" />
