---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <main>
      {% unless page.url contains '404' %}
        {% include defaults/_beta.html %}
      {% endunless %}
      {% unless page.url contains '404' or page.layout == 'post' or page.layout == 'announcement' %}
        {% include defaults/_social_squares.html %}
      {% endunless %}

      {{ content }}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl}}"></script>
    {% if page.layout == 'post' or page.layout == 'static' %}
    <script type="text/javascript" src="{{ "/assets/js/blog.js" | prepend: site.baseurl}}"></script>
    {% endif %}
    {% if page.layout == 'tags' %}
    <script type="text/javascript" src="{{ "/assets/js/tags.js" | prepend: site.baseurl}}"></script>
    {% endif %}
    {% if page.layout == 'home' %}
    <script type="text/javascript" src="{{ "/assets/js/home.js" | prepend: site.baseurl}}"></script>
    {% endif %}
    {% if page.layout == 'home' or page.layout == 'archive' or page.layout == 'by_tag' or page.layout == 'tags' or page.layout == 'readinglist' %}
    <script type="text/javascript" src="{{ "/assets/js/nav.js" | prepend: site.baseurl}}"></script>
    {% endif %}
    {% if page.title == 'About me' %}
    <script type="text/javascript" src="{{ "/assets/js/about.js" | prepend: site.baseurl}}"></script>
    {% endif %}
    {% if page.layout == 'readinglist' %}
      <script type="text/javascript" src="{{ "/assets/js/readinglist.js" | prepend: site.baseurl}}"></script>
    {% endif %}
    {% if page.layout == 'home' or page.layout == 'archive' or page.layout == 'by_tag' or page.layout == 'tags' or page.title == 'About me' or page.layout == 'readinglist' %}
    <script type="text/javascript" src="{{ "/assets/js/twitterFetcher.js" | prepend: site.baseurl}}"></script>
    {% endif %}
    {% if page.layout == 'home' or page.layout == 'post' %}
    <script type="text/javascript">
      $("time.timeago").timeago().prepend("\u00A0").append("\u00A0");
    </script>
    {% endif %}
 </body>

</html>
