<section class="bk-blog">
  <div class="bk-blog__navigation">
    {% include navigation/_blog-nav.html %}
  </div>
  <div class="bk-blog__content bk-blog__archive bk-blog__readinglist">
    <div class="bk-blog__archive__inner bk-readinglist__inner">
      <div class="bk-blog__section-title">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="bk-readinglist__intro">
        <div class="intro__inner">
          <h2>Introduction</h2>
          {{ page.intro | markdownify }}
        </div>
        <div id="intro__more" onclick="intro_more()">
          <p>Read more <i class="fas fa-chevron-right" data-fa-transform="shrink-4"></i></p>
        </div>
      </div>

      <div id="reading_list"></div>

      <div id="reading_list__disclaimer">
        <h2>Disclaimer</h2>
        {{ page.disclaimer | markdownify }}
      </div>

      <div id="load_btn" onclick="load_reading()">
        <p>Load more</p>
      </div>

    </div>

  </div>
</section>
